@page
@using Dolphin.Freight.AirExports
@using Dolphin.Freight.Localization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.ReportScreen.VolumeProfileReportModel
@inject IStringLocalizer<FreightResource> L
@section styles
    {
    <style>
        .redStar::before {
            content: "*";
            color: red;
        }
    </style>
}
@section scripts
    {
    <abp-script src="/Pages/ReportScreen/VolumeProfitReport.js" />

    <script type="text/javascript">var l = abp.localization.getResource('Freight');

        $(document).ready(function () {

            // Awb Cancel Area
            $("#checkboxAwbCancelled").change(function () {
                if (this.checked) {
                    console.log("here");
                    $("#AwbCancelledDate").removeAttr("disabled");
                    $("#AwbCancelledOpId").removeAttr("disabled");
                    $("#ReasonForCancel").removeAttr("disabled");
                    $("#AwbCancelledDate").val(getDate());
                } else {
                    $("#AwbCancelledDate").attr("disabled", "disabled");
                    $("#AwbCancelledOpId").attr("disabled", "disabled");
                    $("#ReasonForCancel").attr("disabled", "disabled");
                    $("#AwbCancelledDate").val('');
                    $("#AwbCancelledOpId").val('');
                    $("#ReasonForCancel").val('');

                }
            });

            // Calculate Weight Kg to Lb
            $("#GrossWeightKg").on('keyup', function () {
                $("#GrossWeightLb").val(Math.round($("#GrossWeightKg").val() * 2.2046226218 * 100) / 100);
            });
            $("#AwbGrossWeightKg").on('keyup', function () {
                $("#AwbGrossWeightLb").val(Math.round($("#AwbGrossWeightKg").val() * 2.2046226218 * 100) / 100);
            });
            $("#ChargeableWeightKg").on('keyup', function () {
                $("#ChargeableWeightLb").val(Math.round($("#ChargeableWeightKg").val() * 2.2046226218 * 100) / 100);
            });
            $("#AwbChargeableWeightKg").on('keyup', function () {
                $("#AwbChargeableWeightLb").val(Math.round($("#AwbChargeableWeightKg").val() * 2.2046226218 * 100) / 100);
            });
            // Calculate Weight Lb to Kg
            $("#GrossWeightLb").on('keyup', function () {
                $("#GrossWeightKg").val(Math.round($("#GrossWeightLb").val() * 0.45359237 * 100) / 100);
            });
            $("#AwbGrossWeightLb").on('keyup', function () {
                $("#AwbGrossWeightKg").val(Math.round($("#AwbGrossWeightLb").val() * 0.45359237 * 100) / 100);
            });
            $("#ChargeableWeightLb").on('keyup', function () {
                $("#ChargeableWeightKg").val(Math.round($("#ChargeableWeightLb").val() * 0.45359237 * 100) / 100);
            });
            $("#AwbChargeableWeightLb").on('keyup', function () {
                $("#AwbChargeableWeightKg").val(Math.round($("#AwbChargeableWeightLb").val() * 0.45359237 * 100) / 100);
            });
        });

        $('#createForm').on('abp-ajax-success', function () {
            event.preventDefault();
            abp.message.success('Successfully saved.');
        });

        function getDate() {
            var date = new Date();
            var dd = date.getDate();
            var mm = date.getMonth() + 1;
            var yyyy = date.getFullYear();
            var todayDate = mm + "-" + dd + "-" + yyyy;
            return todayDate;
        }

        function showTable() {

            var isDataTable = $.fn.dataTable.isDataTable('#mawReport');

            var createForm = $('#createForm');

            var form = createForm.serializeFormToObject();

            if (!isDataTable) {
                dolphin.freight.reportLog.reportLog.getMawbReport(form.vPRM).done(function (res) {
                    LoadDataTable(res);
                })

                $('#result').show();
            }
            else {
                var table = $('#mawReport').DataTable();

                dolphin.freight.reportLog.reportLog.getMawbReport(form.vPRM).done(function (res) {
                    table.destroy();
                    LoadDataTable(res);
                });
            }

        }

        function LoadDataTable(data) {

            var isOverSeaAgentChecked = $('#VPRM_IsOverseaAgent').prop('checked'),
                isConsigneeChecked = $('#VPRM_IsConsignee').prop('checked'),
                isShipperChecked = $('#VPRM_IsShipper').prop('checked'),
                isCarrierChecked = $('#VPRM_IsCarrier').prop('checked'),
                isMBLOPChecked = $('#VPRM_IsMBLOP').prop('checked'),
                isCustomerChecked = $('#VPRM_IsCustomer').prop('checked'),
                isBillToChecked = $('#VPRM_IsBillTo').prop('checked'),
                isCustomerRefChecked = $('#VPRM_IsReferredBy').prop('checked'),
                isPOLChecked = $('#VPRM_IsPOL').prop('checked'),
                isPODChecked = $('#VPRM_IsPOD').prop('checked'),
                isVesselChecked = $('#VPRM_IsVesselFlight').prop('checked'),
                isFinalDestinationChecked = $('#VPRM_IsFinalDestination').prop('checked'),
                isMawbNoChecked = $('#VPRM_IsMblMawbWarehouse').prop('checked'),
                isCoLoaderChecked = $('#VPRM_IsCoLoader').prop('checked'),
                isFileNoChecked = $('#VPRM_IsOutputFile').prop('checked'),
                isForwardingAgentChecked = $('#VPRM_IsForwardingAgent').prop('checked'),
                isColorRemarkChecked = $('#VPRM_IsMblColorRemark').prop('checked'),
                isFreightTermIdChecked = $('#VPRM_IsOutputFreightTerm').prop('checked'),
                isSalesTypeChecked = $('#VPRM_IsOutputSalesType').prop('checked');

            var dataTable = $('#mawReport').DataTable(
                abp.libs.datatables.normalizeConfiguration({
                    serverSide: false,
                    paging: true,
                    order: [[1, "asc"]],
                    searching: true,
                    scrollX: true,
                    processing: true,
                    data: data.items,
                    columnDefs: [
                        {
                            title: l('reportType'),
                            data: 'reportType'
                        },
                        {
                            title: l('officeId'),
                            data: "office"
                        },
                        {
                            title: l('Shipper'),
                            data: "shipper",
                            visible: isShipperChecked
                        },
                        {
                            title: l('OverseaAgentId'),
                            data: 'overseaAgent',
                            visible: isOverSeaAgentChecked
                        },
                        {
                            title: l('consigneeId'),
                            data: 'consignee',
                            visible: isConsigneeChecked
                        },
                        {
                            title: l('Customer'),
                            data: 'customerName',
                            visible: isCustomerChecked
                        },
                        {
                            title: l('carrierName'),
                            data: "carrierName",
                            visible: isCarrierChecked
                        },
                        {
                            title: l('BillToId'),
                            data: "billToName",
                            visible: isBillToChecked
                        },
                        {
                            title: l('CustomerRefNo'),
                            data: "customerRefNo",
                            visible: isCustomerRefChecked
                        },
                        {
                            title: l('FreightTermId'),
                            data: "freightTermId",
                            visible: isFreightTermIdChecked
                        },
                        {
                            title: l('MBLOP'),
                            data: "opName",
                            visible: isMBLOPChecked
                        },
                        {
                            title: l('POLId'),
                            data: "polName",
                            visible: isPOLChecked
                        },
                        {
                            title: l('PODName'),
                            data: "podName",
                            visible: isPODChecked
                        },
                        {
                            title: l('Destination'),
                            data: "destinationName",
                            visible: isFinalDestinationChecked
                        },
                        {
                            title: l('Vessel'),
                            data: "vessel",
                            visible: isVesselChecked
                        },
                        {
                            title: l('MawbNo'),
                            data: "mawbNo",
                            visible: isMawbNoChecked
                        },
                        {
                            title: l('FileNo'),
                            data: "fileNo",
                            visible: isFileNoChecked
                        },
                        {
                            title: l('salesType'),
                            data: "salesType",
                            visible: isSalesTypeChecked
                        },
                        {
                            title: l('ForwardingAgentName'),
                            data: "forwardingAgentName",
                            visible: isForwardingAgentChecked
                        },
                        {
                            title: l('ColorRemarkName'),
                            data: "colorRemarkName",
                            visible: isColorRemarkChecked
                        },
                        {
                            title: l('CoLoaderId'),
                            data: "coLoaderId",
                            visible: isCoLoaderChecked
                        }
                    ]
                })
            );
        }</script>
}
<form abp-model="MawbModel" submit-button="true" data-ajaxForm="true" id="createForm">
    <abp-row>
        <abp-column size-md="_10">
            <abp-card border="Dark">
                <!-- 標題區域 -->
                <abp-card-header style="background:#555555;color:#FFFFFF;">
                    <abp-row>
                        <abp-column size-md="_9">
                            <abp-card-title>
                                @L["Title:VolumeProfileReport"]

                            </abp-card-title>
                        </abp-column>
                        <abp-column size-md="_3" class="text-end">
                            <button type="button" class="btn btn-tool" data-bs-toggle="collapse" data-bs-target="#mawbDiv" aria-expanded="false" aria-controls="mawbDiv">
                                <i class="fa fa-caret-down" style="color:#FFFFFF;"></i>
                            </button>
                        </abp-column>
                    </abp-row>
                </abp-card-header>
                <!-- Mawb資訊欄 -->
                <abp-card-body id="mawbDiv">
                    <!--第一列-->
                    <abp-row>
                        <abp-column size-md="_3">
                            <label asp-for="VPRM.Report" class="form-label">Report</label>
                            <abp-radio asp-for="VPRM.Report" asp-items="Model.ReportList" inline="true" />
                        </abp-column>
                        <abp-column size-md="_3">
                            <label asp-for="VPRM.OutputFormat" class="form-label">Output Format</label>
                            <abp-radio asp-for="VPRM.OutputFormat" asp-items="Model.Format" inline="true" />
                        </abp-column>
                        <abp-column size-md="_3">
                            <label asp-for="VPRM.PeriodType" class="form-label">Period Type</label>
                            <abp-radio asp-for="VPRM.PeriodType" asp-items="Model.PeriodType" inline="true" />
                        </abp-column>
                        <abp-column size-md="_3">
                            <label asp-for="VPRM.PeriodRange" class="form-label">Period Range</label>
                            <input asp-for="VPRM.PeriodRange" class="form-control" />
                        </abp-column>


                    </abp-row>
                    <!--第二列-->
                    <abp-row>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.Office" size="Small" asp-items="@Model.Office">
                            </abp-select>
                        </abp-column>
                        <abp-column size-md="_3">
                            <label asp-for="VPRM.ShippingType" class="form-label">Shipping Type</label>
                            <input asp-for="VPRM.ShippingType" class="form-control" />
                        </abp-column>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.Currency" size="Small" asp-items="@Model.Currency">
                            </abp-select>
                        </abp-column>
                        <abp-column size-md="_3">
                            <label asp-for="VPRM.Profit" class="form-label">Profite</label>
                            <abp-radio asp-for="VPRM.Profit" asp-items="Model.Profit" inline="true" />
                        </abp-column>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.ShipMode" size="Small" asp-items="@Model.ShipMode">
                            </abp-select>
                        </abp-column>
                    </abp-row>
                    <!--第三列-->
                    <abp-row>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.FreightCode" size="Small" asp-items="@Model.FreightCode">
                            </abp-select>
                        </abp-column>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.FreightTerm" size="Small" asp-items="@Model.FreightTerm">
                            </abp-select>
                        </abp-column>
                        <abp-column size-md="_3">
                            <label asp-for="VPRM.Detail" class="form-label">Detail</label>
                            <input asp-for="VPRM.Detail" class="form-control" />
                        </abp-column>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.Sales" size="Small" asp-items="@Model.Sales">
                            </abp-select>
                            <span asp-validation-for="MawbModel.OfficeId" class="text-danger"></span>
                        </abp-column>
                    </abp-row>
                    <!--第四列-->
                    <abp-row>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.OutputType" size="Small" asp-items="@Model.OutputType">
                            </abp-select>
                        </abp-column>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.ServiceTermTypeFrom" size="Small" asp-items="@Model.ServiceTermStart"></abp-select>
                        </abp-column>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.ServiceTermTypeTo" size="Small" asp-items="@Model.ServiceTermEnd">
                            </abp-select>
                        </abp-column>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.Status" size="Small" asp-items="@Model.Status">
                            </abp-select>
                        </abp-column>
                    </abp-row>
                    <!--第五列-->
                    <abp-row>
                        <abp-column size-md="_3">
                            <label asp-for="VPRM.SalesTypeId" class="form-label">Sales Type</label>
                            <input asp-for="VPRM.SalesTypeId" class="form-control" />
                        </abp-column>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.InvoiceType" size="Small" asp-items="@Model.InvoiceType">
                            </abp-select>
                        </abp-column>
                        <abp-column size-md="_3">
                            <abp-select asp-for="VPRM.IsEcommerce" size="Small" asp-items="@Model.ECommerce">
                            </abp-select>
                        </abp-column>

                    </abp-row>
                    <!--第六列-->
                    <abp-row>
                        <label asp-for="VPRM.OutputBy" class="form-label">Output By</label>
                        <abp-row>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsShipper" label="Shipper" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsOverseaAgent" label="Oversea Agent" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" checked="true" disabled="true" asp-for="VPRM.IsConsignee" label="Consignee" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsCustomer" label="Customer" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsCarrier" label="Carrier" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsCustomsBroker" label="Customs Broker" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsTrucker" label="Trucker" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsAccountGroup" label="Account Group" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsBillTo" label="Bill To" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsReferredBy" label="Referred By" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsOutputOffice" label="Output Office" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsETD" label="ETD" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsETA" label="ETA" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsOutputFreightTerm" label="Freight Term" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsIncoterms" label="Incoterms" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsServiceTerm" label="Service Term" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsMBLOP" label="MB/L OP" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsOperation" label="Operation" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsOPCOOPOP" label="OP/Co-op OP" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsShipLine" label="Ship Line" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsPOL" label="POL" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsPOD" label="POD" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsCountryOfPOL" label="Country of POL" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsCountryOfPOD" label="Country of POD" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsDEL" label="DEL" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsFinalDestination" label="Final Destination" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsVesselFlight" label="Vessel / Flight" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsMblMawbWarehouse" label="MBL / MAWB No. / Warehouse B/L No." />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsHblHawb" label="HB/L | HAWB No." />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsOutputFile" label="File No." />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsDoorMove" label="Door Move" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsClearance" label="C.Clearance" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsISF" label="ISF No." />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsFBAFC" label="FBA FC" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsOutputSalesType" label="Sales Type" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsHblNominatedAgent" label="HB/L Referred By / Nominated Agent" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsOutputECommerce" label="E-Commerce" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsForwardingAgent" label="Forwarding Agent" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsCarrierContractNo" label="Carrier Contract No." />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsMblColorRemark" label="MBL Color Remark" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsHblColorRemark" label="HBL Color Remark" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsCoLoader" label="Co-Loader" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsBlType" label="B/L Type" />
                            </abp-column>
                            <abp-column size-md="Auto">
                                <abp-input size-md="Auto" asp-for="VPRM.IsLatestGateIn" label="Latest Gate In" />
                            </abp-column>
                        </abp-row>
                    </abp-row>
                </abp-card-body>
            </abp-card>
        </abp-column>
    </abp-row>
    <!-- 下方Save按鈕 -->
    <abp-row class="mt-3">
        <abp-column>
            <button class="btn btn-block btn-primary" type="button" id="showResultBtn" onclick="showTable()">
                <i class="fa-solid"></i>Show Result
            </button>
        </abp-column>
    </abp-row>
    <abp-row>
        <abp-column>
            &nbsp;
        </abp-column>
    </abp-row>

</form>

<div id="result" style="display:none;">
    <abp-row>
        <abp-card-body>
            <abp-table striped-rows="true" id="mawReport" class="stripe row-border order-column" style="width:100%;">

            </abp-table>
        </abp-card-body>
    </abp-row>


</div>

