@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Web.Pages.Components
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.OceanImports.CreateMblModel
@inject IStringLocalizer<FreightResource> L
@section styles
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="~/css/fix2.css" rel="stylesheet" />
}
@section scripts
    {
    <abp-script src="/Pages/OceanImports/CreateMbl.js" />

    <script type="text/javascript">
        $(document).ready(function () {
            var l = abp.localization.getResource('Freight');
            $("#addHBtn").click(function () {
                addHBtn();
            });
            tempusDominus.extend(window.tempusDominus.plugins.customDateFormat)

            $('#OceanImportMbl_VgmCutOffTime').tempusDominus({
                restrictions: {
                    minDate: '2023-02-25'
                }
            });
        });
        var cardIndex = 0;
        function addHBtn() {
            if (cardIndex == 0) {
                var divHtml = addCardRight('new_' + cardIndex, 'new HB/L', '', '#f3c200');
                $("#hblCard").show();
                $("#hblCardDiv").append(divHtml);
                $("#AddHbl").val(1);
                cardIndex++;
            } else {
                var l = abp.localization.getResource('Freight');
                abp.message.info(l("Message:AddHBLErr"));
            }

        }
        function addCardRight(hblId, hblNo, soNo, bgColor) {
            var cardHtml = "<div class='borad-anchor focus' ><div class='borad-cont' >"
            cardHtml = cardHtml + "<a class='link' href='#javascript:void(0)'></a>"
            cardHtml = cardHtml + "<span class='label label-HBL'>HB/L</span><span class='MBLnumber'>Add</span>"
            cardHtml = cardHtml + "</div></div>"
            return cardHtml;
        }
    </script>
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:OceanImports"] />
            <abp-breadcrumb-item title=@L["Menu:OceanImports.CreateMbl"] href="#" />
        </abp-breadcrumb>
    </div>
    <nav class="submenu">
        <ol>
            <li class="menu-item active">
                <a href="javascript:void(0)">@L["Tab:Basic"]</a>
            </li>
            <li class="menu-item disabled ">
                <a href="javascript:void(0)">@L["Tab:Container"]</a>
            </li>
            <li class="menu-item disabled">
                <a href="javascript:void(0)">@L["Tab:Accounting"]</a>
            </li>
            <li class="menu-item disabled">
                <a href="javascript:void(0)">@L["Tab:Doc"]</a>
            </li>
        </ol>
    </nav>
</div>
<div class="page-content-area">
    <form submit-button="true" data-ajaxForm="true" id="createForm">
        <abp-row>
            <abp-column size-md="_9">
                <div class="board-wrap">
                    <abp-card class="card board-item">
                        <abp-card-header class="card-header active" style="background:#555555;color:#FFFFFF;">

                            <abp-card-title>
                                MB/L <span id="title0"></span>
                                <span id="title0" style="font-size:0.8em;"></span>
                                <span id="title2" style="font-size:0.8em;"></span>
                                <span id="title3" style="font-size:0.8em;"></span>
                                <span id="title4" style="font-size:0.8em;"></span>
                                <span id="title5" style="font-size:0.8em;"> </span>
                            </abp-card-title>

                            <!--
                            <div class="btn-group dropdown">
                                <button class="btn btn-secondary dropdown-toggle"  type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                    請選擇
                                </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                                    <a class='dropdown-item' href='#'>
                                           <li class="fa fa-lock"></li> 鎖定
                                        </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-trash"></i> 刪除
                            </a>
                                    <li class="dropdown-divider"></li>
                            <a class='dropdown-item' href='#'>
                            <li class="fa fa-lock"></li> aaa
                            </a>

                                </div>
                            </div>
                            -->
                            <button class="btn btn-collapse " type="button" data-bs-toggle="collapse" data-bs-target="#mblDiv" aria-expanded="false" aria-controls="mblDiv">
                            </button>

                        </abp-card-header>
                        <abp-card-body class="collapse show customForm" id="mblDiv">
                            <abp-row>
                                <abp-column size-md="_3">
                                    <input type="hidden" name="ShipmentNo" id="ShipmentNo">
                                    <abp-input asp-for="OceanImportMbl.FilingNo" disabled="true" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.MblNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "OfficeId", FieldName = "OfficeId",DefaultValue="" , IsShowLabel = true , IsRequired = true })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "BlTypeId", FieldName = "BlTypeId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.PostDate" type="text" abp-data-datepicker="false" readonly="true" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "MblOverseaAgentId", FieldName = "MblOverseaAgentId",DefaultValue="" , IsShowLabel = true , IsRequired = false,SelectType=1 ,ShowFiledContentValue = Model.OceanImportMbl.MblOverseaAgentContent   })
                                    <input type="hidden" name="OceanImportMbl.MblOverseaAgentId" id="mMblOverseaAgentId" value="@Model.OceanImportMbl.MblOverseaAgentId" />
                                    <input type="hidden" name="OceanImportMbl.MblOverseaAgentContent" id="mMblOverseaAgentContent" value="@Model.OceanImportMbl.MblOverseaAgentContent" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "MblCarrierId", FieldName = "MblCarrierId",DefaultValue="" , IsShowLabel = true , IsRequired = false ,SelectType=1 ,ShowFiledContentValue = Model.OceanImportMbl.MblCarrierContent})
                                    <input type="hidden" name="OceanImportMbl.MblCarrierId" id="mMblCarrierId" value="@Model.OceanImportMbl.MblCarrierId" />
                                    <input type="hidden" name="OceanImportMbl.MblCarrierContent" id="mMblCarrierContent" value="@Model.OceanImportMbl.MblCarrierContent" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "BlAcctCarrierId", FieldName = "BlAcctCarrierId",DefaultValue="" , IsShowLabel = true , IsRequired = false,SelectType=1 ,ShowFiledContentValue = Model.OceanImportMbl.BlAcctCarrierContent })
                                    <input type="hidden" name="OceanImportMbl.BlAcctCarrierId" id="mBlAcctCarrierId" value="@Model.OceanImportMbl.BlAcctCarrierId" />
                                    <input type="hidden" name="OceanImportMbl.BlAcctCarrierContent" id="mBlAcctCarrierContent" value="@Model.OceanImportMbl.BlAcctCarrierContent" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "ForwardingAgentId", FieldName = "ForwardingAgentId" , DefaultValue="" , IsShowLabel = true , IsRequired = false,SelectType=1 ,ShowFiledContentValue = Model.OceanImportMbl.ForwardingAgentContent    })
                                    <input type="hidden" name="OceanImportMbl.ForwardingAgentId" id="mForwardingAgentId" value="@Model.OceanImportMbl.ForwardingAgentId" />
                                    <input type="hidden" name="OceanImportMbl.ForwardingAgentContent" id="mForwardingAgentContent" value="@Model.OceanImportMbl.ForwardingAgentContent" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "CoLoaderId", FieldName = "CoLoaderId",DefaultValue="" , IsShowLabel = true , IsRequired = false,SelectType=1 ,ShowFiledContentValue = Model.OceanImportMbl.CoLoaderContent })
                                    <input type="hidden" name="OceanImportMbl.CoLoaderId" id="mCoLoaderId" value="@Model.OceanImportMbl.CoLoaderId" />
                                    <input type="hidden" name="OceanImportMbl.CoLoaderContent" id="mCoLoaderContent" value="@Model.OceanImportMbl.CoLoaderContent" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.AgentRefNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.SubBlNo" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "MblOperatorId", FieldName = "MblOperatorId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.CarrierContractNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="OceanImportMbl_IsDirect" class="form-label">@L["IsDirect"]<input type="checkbox" name="OceanImportMbl.IsDirect" id="OceanImportMbl_IsDirect" value="true" checked="@Model.OceanImportMbl.IsDirect" /></label>
                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                            </abp-row>

                            <abp-row class="isDirect">
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.CustomerRefNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "MblShipperId", FieldName = "MblShipperId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "MblConsigneeId", FieldName = "MblConsigneeId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "MblNotifyId", FieldName = "MblNotifyId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                            </abp-row>
                            <abp-row class="isDirect">
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "MblCustomerId", FieldName = "MblCustomerId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "MblBillToId", FieldName = "MblBillToId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "MblSalesTypeId", FieldName = "MblSalesTypeId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "MblCargoTypeId", FieldName = "MblCargoTypeId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                            </abp-row>
                            <abp-row class="isDirect">
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "MblSaleId", FieldName = "MblSaleId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                            </abp-row>

                            <abp-row>
                                <abp-column>
                                    &nbsp;
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.VesselName" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.Voyage" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName = "CyLocationId", FieldName = "CyLocationId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                    <input type="hidden" name="OceanImportMbl.CyLocationId" id="mCyLocationId" value="@Model.OceanImportMbl.CyLocationId" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName = "CfsLocationId", FieldName = "CfsLocationId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                    <input type="hidden" name="OceanImportMbl.CfsLocationId" id="mCfsLocationId" value="@Model.OceanImportMbl.CfsLocationId" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "PolId", FieldName = "PolId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.PolEtd" type="text" abp-data-datepicker="false" class="checkdate" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "PodId", FieldName = "PodId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.PodEta" type="text" abp-data-datepicker="false" class="checkdate" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "DelId", FieldName = "DelId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.DelEta" type="text" abp-data-datepicker="false" class="checkdate" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "FdestId", FieldName = "FdestId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.FdestEta" type="text" abp-data-datepicker="false" class="checkdate" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_9">
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.Etb" type="text" abp-data-datepicker="false" class="checkdate" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column>
                                    &nbsp;
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "FreightTermId", FieldName = "FreightTermId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "ShipModeId", FieldName = "ShipModeId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>


                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "SvcTermFromId", FieldName = "SvcTermFromId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="SvcTermToId" class="form-label">&nbsp;&nbsp;</label>
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "SvcTermToId", FieldName = "SvcTermToId",DefaultValue="" , IsShowLabel = false , IsRequired = false })
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.DisplayMblContainerSizeQtyInfo" readonly="true" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "OblTypeId", FieldName = "OblTypeId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                    <input type="hidden" name="OceanImportMbl.OblTypeId" id="mOblTypeId" value="@Model.OceanImportMbl.OblTypeId" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="OceanImportMbl_IsOblReceived" class="form-label">@L["IsOblReceived"]<input type="checkbox" name="OceanImportMbl.IsOblReceived" id="OceanImportMbl_IsOblReceived" value="true" /></label>
                                    <abp-input label="" asp-for="OceanImportMbl.OblReceivedDate" class="cdatetime" type="text" abp-data-datetimepicker="false" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="OceanImportMbl_IsReleased" class="form-label">@L["IsReleased"]<input type="checkbox" name="OceanImportMbl.IsReleased" id="OceanImportMbl_IsReleased" value="true" /></label>
                                    <abp-input asp-for="OceanImportMbl.MblReleaseDate" class="cdatetime" type="text" abp-data-datetimepicker="false" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName = "BusinessReferrerId", FieldName = "BusinessReferrerId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                    <input type="hidden" name="OceanImportMbl.BusinessReferrerId" id="mBusinessReferrerId" value="@Model.OceanImportMbl.BusinessReferrerId" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input label="" asp-for="OceanImportMbl.LatestContainerEntryDate" class="cdatetime" type="text" abp-data-datetimepicker="false" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column>
                                    &nbsp;
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <button type="button" id="checkHideBtn">
                                        <i class="fa fa-plus" id="showLi"></i>
                                        <i class="fa fa-minus" id="hideLi"></i>
                                    </button>
                                    @L["Title:MoreInfo"]
                                    <input type="hidden" id="isHide" value="@Model.OceanImportMbl.GetHideCheck()" />
                                </abp-column>
                            </abp-row>
                            <abp-row class="hideArea">
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "PorId", FieldName = "PorId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.PorEtd" type="text" abp-data-datepicker="false" class="checkdate" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName = "ReturnLocationId", FieldName = "ReturnLocationId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                    <input type="hidden" name="OceanImportMbl.ReturnLocationId" id="mReturnLocationId" value="@Model.OceanImportMbl.ReturnLocationId" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.ItNo" />
                                </abp-column>
                            </abp-row>
                            <abp-row class="hideArea">
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.ItDate" type="text" abp-data-datepicker="false" class="checkdate" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportMbl.ItLocation" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="OceanImportMbl_IsEcommerce" class="form-label">@L["IsEcommerce"]<input type="checkbox" name="OceanImportMbl.IsEcommerce" id="OceanImportMbl_IsEcommerce" value="true" checked="@Model.OceanImportMbl.IsEcommerce" /></label>
                                </abp-column>
                            </abp-row>
                        </abp-card-body>
                    </abp-card>
                    <br />
                    <abp-card class="card board-item" id="hblCard" style="display:none;">
                        <abp-card-header class="card-header active">

                            <abp-card-title>
                                HB/L  <span id="htitle0"></span>
                                <span id="htitle0" style="font-size:0.8em;"></span>
                                <span id="htitle2" style="font-size:0.8em;"></span>
                                <span id="htitle3" style="font-size:0.8em;"></span>
                                <span id="htitle4" style="font-size:0.8em;"></span>
                                <span id="htitle5" style="font-size:0.8em;"> </span>
                            </abp-card-title>

                            <!--
                            <div class="btn-group dropdown">
                                <button class="btn btn-secondary dropdown-toggle"  type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                    請選擇
                                </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                                    <a class='dropdown-item' href='#'>
                                           <li class="fa fa-lock"></li> 鎖定
                                        </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-trash"></i> 刪除
                            </a>
                                    <li class="dropdown-divider"></li>
                            <a class='dropdown-item' href='#'>
                            <li class="fa fa-lock"></li> aaa
                            </a>

                                </div>
                            </div>
                            -->
                            <button class="btn btn-collapse " type="button" data-bs-toggle="collapse" data-bs-target="#hblDiv" aria-expanded="false" aria-controls="hblDiv">
                            </button>

                        </abp-card-header>
                        <abp-card-body class="collapse show customForm" id="hblDiv">
                            <abp-row>
                                <abp-column size-md="_3">
                                    <label for="ceanImportHbl_HblNo" class="form-label">@L["HblNo"] <input type="checkbox" name="OceanImportHbl.IsCreateBySystem" id="OceanImportHbl_IsCreateBySystem" value="true" checked /></label>
                                    <input type="text" name="OceanImportHbl.HblNo" class="form-control" id="OceanImportHbl_HblNo" disabled />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.SoNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.CustomerRefNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.DocNo" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.QuotationNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HblShipperId", FieldName = "HblShipperId",DefaultValue="" , IsShowLabel = true , IsRequired = false })

                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HblCustomerId", FieldName = "HblCustomerId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HblBillToId", FieldName = "HblBillToId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HblConsigneeId", FieldName = "HblConsigneeId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HblNotifyId", FieldName = "HblNotifyId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "CustomsBrokerId", FieldName = "CustomsBrokerId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "TruckerId", FieldName = "TruckerId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "AgentId", FieldName = "AgentId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HblForwardingAgentId", FieldName = "HblForwardingAgentId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.IsSubAgentBl" />
                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "ReceivingAgentId", FieldName = "ReceivingAgentId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HPorId", FieldName = "HPorId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.PorEtd" type="text" abp-data-datepicker="false" class="checkdate" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HPodId", FieldName = "HPodId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.PodEta" type="text" abp-data-datepicker="false" class="checkdate" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HDelId", FieldName = "HDelId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.DelEta" type="text" abp-data-datepicker="false" class="checkdate" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HFdestId", FieldName = "HFdestId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.FdestEta" type="text" abp-data-datepicker="false" class="checkdate" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "FbaFcId", FieldName = "FbaFcId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HEmptyPickupId", FieldName = "HEmptyPickupId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HDeliveryToId", FieldName = "HDeliveryToId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.CargoArrivalDate" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "CargoPickupId", FieldName = "CargoPickupId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HShipModeId", FieldName = "HShipModeId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "FreightTermForBuyerId", FieldName = "FreightTermForBuyerId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "FreightTermForSalerId", FieldName = "FreightTermForSalerId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HSvcTermFromId", FieldName = "HSvcTermFromId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HSvcTermToId", FieldName = "HSvcTermToId",DefaultValue="" , IsShowLabel = false , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.DisplayHblContainerSizeQtyInfo" />
                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.IsExpress" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "CargoTypeId", FieldName = "CargoTypeId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HblSalesTypeId", FieldName = "HblSalesTypeId",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.HblWhCutOffTime" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.EarlyReturnDateTime" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.LcNo" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.LcIssueBank" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.LcIssueDate" />
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.OnBoardDate" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="OceanImportHbl.IsStackable" />
                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <label for="CareOfId" class="form-label"><input type="checkbox" name="OceanImportHbl.IsHold" /> @L["IsHold"] </label>
                                    <abp-input asp-for="OceanImportHbl.HoldReason" />
                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                                <abp-column size-md="_3">
                                    <label for="CareOfId" class="form-label"><input type="checkbox" name="OceanImportHbl.IsReleased" id="OceanImportHbl_IsReleased" value="true" /> @L["IsReleased"] </label>
                                    <abp-input asp-for="OceanImportHbl.HblReleaseDate" />
                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_3">
                                    <label for="CareOfId" class="form-label"><input type="checkbox" name="OceanImportHbl.IsCanceled" /> @L["IsCanceled"] </label>
                                    <abp-input asp-for="OceanImportHbl.CanceledDate" />
                                </abp-column>
                                <abp-column size-md="_3">

                                </abp-column>
                                <abp-column size-md="_3">

                                    <abp-input asp-for="OceanImportHbl.CancelReason" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    @await Component.InvokeAsync(typeof(SelectComponent),new {TagName =  "HMblReferralById", FieldName = "HMblReferralById",DefaultValue="" , IsShowLabel = true , IsRequired = false })
                                </abp-column>
                            </abp-row>
                        </abp-card-body>
                    </abp-card>
                </div>
            </abp-column>
            <abp-column size-md="_3">
                <div class="card-wrap">

                    <button class="btn btn-block btn-add" type="button" id="addHBtn">
                        <i class="fa-solid fa-plus"></i>新增MB/L
                    </button>

                    <div class="function-wrap">

                        <div class="form">
                            <div class="form-group">
                                <label for="cardOrderSet">卡片排序</label>
                                <select class="form-control selectpicker" id="cardOrderSet">
                                    <option selected>請選擇</option>
                                    <option value="建立日期">建立日期</option>
                                    <option value="HB/L 號碼">HB/L 號碼</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="cardOrder">Preference</label>
                                <select class="form-control selectpicker" id="cardOrder">
                                    <option selected>請選擇</option>
                                    <option value="遞增">遞增</option>
                                    <option value="遞減">遞減</option>
                                </select>
                            </div>
                            <fieldset class="form-group">
                                <legend class="col-form-label">卡片顯示</legend>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label"
                                           for="inlineCheckbox1">託運人與收貨人</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label"
                                           for="inlineCheckbox2">名稱標籤</label>
                                </div>
                            </fieldset>

                            <button type="submit" class="btn btn-dark btn-block btn-update">
                                <i class="fa-solid fa-arrows-rotate"></i>更新
                            </button>
                        </div>

                    </div>

                    <!--  <div class="anchor-wrap">-->

                    <div id="hblCardDiv" class="cardAnchor">
                    </div>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="mt-3">
            <abp-column>
                <input type="hidden" name="OceanImportMbl.OfficeId" id="mOfficeId" value="@Model.OceanImportMbl.OfficeId" />
                <input type="hidden" name="OceanImportMbl.PreCarriageVesselNameId" id="mPreCarriageVesselNameId" value="@Model.OceanImportMbl.PreCarriageVesselNameId" />
                <input type="hidden" name="OceanImportMbl.SvcTermFromId" id="mSvcTermFromId" value="@Model.OceanImportMbl.SvcTermFromId" />
                <input type="hidden" name="OceanImportMbl.SvcTermToId" id="mSvcTermToId" value="@Model.OceanImportMbl.SvcTermToId" />
                <input type="hidden" name="OceanImportMbl.ShipModeId" id="mShipModeId" value="@Model.OceanImportMbl.ShipModeId" />
                <input type="hidden" name="OceanImportMbl.FreightTermId" id="mFreightTermId" value="@Model.OceanImportMbl.FreightTermId" />
                <input type="hidden" name="OceanImportMbl.BlTypeId" id="mBlTypeId" value="@Model.OceanImportMbl.BlTypeId" />
                <input type="hidden" name="OceanImportMbl.PorId" id="mPorId" value="@Model.OceanImportMbl.PorId" />
                <input type="hidden" name="OceanImportMbl.PolId" id="mPolId" value="@Model.OceanImportMbl.PolId" />
                <input type="hidden" name="OceanImportMbl.PodId" id="mPodId" value="@Model.OceanImportMbl.PodId" />
                <input type="hidden" name="OceanImportMbl.DelId" id="mDelId" value="@Model.OceanImportMbl.DelId" />
                <input type="hidden" name="OceanImportMbl.FdestId" id="mFdestId" value="@Model.OceanImportMbl.FdestId" />
                <input type="hidden" name="AddHbl" id="AddHbl" value="0" />
                <input type="hidden" name="OceanImportHbl.CargoTypeId" id="hCargoTypeId" value="@Model.OceanImportHbl.CargoTypeId" />
                <input type="hidden" name="OceanImportHbl.SvcTermFromId" id="hHSvcTermFromId" value="@Model.OceanImportHbl.SvcTermFromId" />
                <input type="hidden" name="OceanImportHbl.SvcTermToId" id="hHSvcTermToId" value="@Model.OceanImportHbl.SvcTermToId" />
                <input type="hidden" name="OceanImportHbl.ShipModeId" id="hHShipModeId" value="@Model.OceanImportHbl.ShipModeId" />
                <input type="hidden" name="OceanImportHbl.FreightTermForBuyerId" id="hFreightTermForBuyerId" value="@Model.OceanImportHbl.FreightTermForBuyerId" />
                <input type="hidden" name="OceanImportHbl.FreightTermForSalerId" id="hFreightTermForSalerId" value="@Model.OceanImportHbl.FreightTermForSalerId" />
                <input type="hidden" name="OceanImportHbl.HblCustomerId" id="hHblCustomerId" value="@Model.OceanImportHbl.HblCustomerId" />
                <input type="hidden" name="OceanImportHbl.HblShipperId" id="hHblShipperId" value="@Model.OceanImportHbl.HblShipperId" />
                <input type="hidden" name="OceanImportHbl.HblBillToId" id="hHblBillToId" value="@Model.OceanImportHbl.HblBillToId" />
                <input type="hidden" name="OceanImportHbl.HblConsigneeId" id="hHblConsigneeId" value="@Model.OceanImportHbl.HblConsigneeId" />
                <input type="hidden" name="OceanImportHbl.HblNotifyId" id="hHblNotifyId" value="@Model.OceanImportHbl.HblNotifyId" />
                <input type="hidden" name="OceanImportHbl.CustomsBrokerId" id="hCustomsBrokerId" value="@Model.OceanImportHbl.CustomsBrokerId" />
                <input type="hidden" name="OceanImportHbl.TruckerId" id="hTruckerId" value="@Model.OceanImportHbl.TruckerId" />
                <input type="hidden" name="OceanImportHbl.AgentId" id="hAgentId" value="@Model.OceanImportHbl.AgentId" />
                <input type="hidden" name="OceanImportHbl.ForwardingAgentId" id="hHblForwardingAgentId" value="@Model.OceanImportHbl.ForwardingAgentId" />
                <input type="hidden" name="OceanImportHbl.ReceivingAgentId" id="hReceivingAgentId" value="@Model.OceanImportHbl.ReceivingAgentId" />
                <input type="hidden" name="OceanImportHbl.FbaFcId" id="hFbaFcId" value="@Model.OceanImportHbl.FbaFcId" />
                <input type="hidden" name="OceanImportHbl.EmptyPickupId" id="hHEmptyPickupId" value="@Model.OceanImportHbl.EmptyPickupId" />
                <input type="hidden" name="OceanImportHbl.DeliveryToId" id="hHDeliveryToId" value="@Model.OceanImportHbl.DeliveryToId" />
                <input type="hidden" name="OceanImportHbl.MblReferralById" id="hHMblReferralById" value="@Model.OceanImportHbl.MblReferralById" />
                <input type="hidden" name="OceanImportHbl.PorId" id="hHPorId" value="@Model.OceanImportHbl.PorId" />
                <input type="hidden" name="OceanImportHbl.PodId" id="hHPodId" value="@Model.OceanImportHbl.PodId" />
                <input type="hidden" name="OceanImportHbl.HDelId" id="hHDelId" value="@Model.OceanImportHbl.DelId" />
                <input type="hidden" name="OceanImportHbl.FdestId" id="hHFdestId" value="@Model.OceanImportHbl.FdestId" />
                <input type="hidden" name="OceanImportHbl.HblSalesTypeId" id="hHblSalesTypeId" value="@Model.OceanImportHbl.HblSalesTypeId" />
                <abp-button class="btn btn-primary me-md-2" type="button" id="saveBtn">@L["Save"].Value</abp-button>
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column>
                &nbsp;
            </abp-column>
        </abp-row>
    </form>
</div>