@page
@using Dolphin.Freight.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Dolphin.Freight.Web.Pages.Sales.TradePartner.ModalWithCreateTradePartyMemoModel
@inject IStringLocalizer<FreightResource> L
@{
    Layout = null;
}
<form method="post" action="/Sales/TradePartner/ModalWithCreateTradePartyMemo">
    <abp-modal>
        @if (Model.Id == null)
        {
            <abp-modal-header title="@L["Create"]"></abp-modal-header>
        }
        else
        {
            <abp-modal-header title="@L["Update"]"></abp-modal-header>
        }
        <abp-modal-body>
            @if (Model.Id != null)
            {
                <input name="CreateUpdateTradePartnerMemoDto.id" type="hidden" value="@Model.Id" />
            }
            <input name="CreateUpdateTradePartnerMemoDto.tradePartnerId" type="hidden" value="@Model.TradePartnerId" />

            <label class="form-label">@L["Display:Memo:THead:Title"]</label>
            <input type="text" name="CreateUpdateTradePartnerMemoDto.title" value="@Model.MemoTitle" class="form-control valid" id="title" required />
            <label class="form-label">@L["Display:Memo:THead:Content"]</label>
            <textarea name="CreateUpdateTradePartnerMemoDto.memo" class="form-control">@Model.MemoContent</textarea>

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>