@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Web.Pages.Components
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.OceanExports.EditModal2Model
@inject IStringLocalizer<FreightResource> L
@section scripts
    {

    <script type="text/javascript">
        var trindex = 0;
        var containerSizes = [];
        $(document).ready(function () {
            var isLocked = '@Model.OceanExportMbl.IsLocked';
            if (isLocked == 'True') abp.message.warn("此項已經被鎖定，若需修改請小心！\n您作的變更可能導致會計報表不一致！");
            dolphin.freight.settings.containerSizes.containerSize.queryAllList({}).done(function (result) {
                if (result != null && result.length > 0) {
                    containerSizes = result;
                    dolphin.freight.importExport.containers.container.queryList({ QueryId: '@Model.Id' }).done(function (result) {
                        if (result != null && result.length > 0) {
                            for (var i = 0; i < result.length; i++) {
                                var value1 = result[i].containerNo;
                                var value2 = result[i].containerSizeId;
                                var value3 = result[i].sealNo;
                                var value4 = result[i].packageNum;
                                var value5 = result[i].packageWeight;
                                var value6 = result[i].packageMeasure;
                                addTrTag(value1, value2, value3, value4, value5, value6);

                            }
                        }
                    });
                }
            });
            var IsShowHbl = '@Model.IsShowHbl';
            if (IsShowHbl == 'True') $("#hblCard").show();
            else $("#hblCard").hide();

            $("#addBtn").click(function () {
                addTr()
            })
            $("#add5Btn").click(function () {
                for (var i = 0; i < 5; i++) {
                    addTr();
                }

            })
            $("#copyBtn").click(function () {
                $("input[name='f0']:checked").each(function () {
                    addTrTag($("#f1_" + $(this).val()).val(), $("#f2_" + $(this).val()).val(), $("#f3_" + $(this).val()).val(), $("#f4_" + $(this).val()).val(), $("#f5_" + $(this).val()).val(), $("#f6_" + $(this).val()).val())
                })
            })
            $("#deleteBtn").click(function () {
                $("input[name='f0']:checked").each(function () {
                    var tid = $(this).val();
                    $("#did_" + tid).val("1");
                    $("#tr_" + $(this).val()).hide();
                })
            })
            $("#saveBtn").click(function () {
                $("#mPoNo").val($("#PoNoTag").tagsStr());
                $("#edit2Form").submit();
            });
            $('#edit2Form').on('abp-ajax-success', function (result, rs) {
                event.preventDefault();
                var l = abp.localization.getResource('Freight');
                abp.message.success(l("Message:SuccessEdit"));
            });
            $("#addHBtn").click(function () {
                //var url = "/OceanExports/EditModal?Id=@Model.Id&NewHbl=1";
                //location.href = url;
                $('#hblCard').show();
                $('[name="OceanExportMbl.Mark"]:eq(1)').val($('[name="OceanExportMbl.Mark"]:eq(0)').val());
                $('[name="OceanExportMbl.Description"]:eq(1)').val($('[name="OceanExportMbl.Description"]:eq(0)').val());
                $('[name="OceanExportMbl.DomesticInstructions"]:eq(1)').val($('[name="OceanExportMbl.DomesticInstructions"]:eq(0)').val());
            })
            $("#PoNoTag").tagsInit();
        });

        function addTr() {
            addTrTag("", "", "", "", "", "");
        }
        function addTrTag(value1, value2, value3, value4, value5, value6) {

            var trhtml = "<tr id='tr_" + trindex + "'><td><input type='hidden' name='CreateUpdateContainerDtos[" + trindex + "].Status' value='0' id='did_" + trindex + "' />  <input type='checkbox' name='f0' id='f0_" + trindex + "'  value='" + trindex + "'    /></td>"
            trhtml = trhtml + "<td><div class='input-group'><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].ContainerNo' id='f1_" + trindex + "' class='form-control' value='" + value1 + "'/> <div class='input-group-append'><button type='button'  onclick='exportDiv(\"" + trindex + "\");' >+</button> </div></div></td>"
            trhtml = trhtml + "<td><input type='hidden' name='CreateUpdateContainerDtos[" + trindex + "].MblId' value='@Model.Id' /><input type='hidden' name='CreateUpdateContainerDtos[" + trindex + "].MblType' value='1' />";
            trhtml = trhtml + getcontainerSizeSelect(value2) + "</td>";
            trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].SealNo' id='f3_" + trindex + "' class='form-control' value='" + value3 + "' /></td>"
            trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].PackageNum ' id='f4_" + trindex + "' class='form-control' value='" + value4 + "' /></td>"
            trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].PackageWeight' id='f5_" + trindex + "' class='form-control' value='" + value5 + "' /></td>"
            trhtml = trhtml + "<td><input type='text' name='CreateUpdateContainerDtos[" + trindex + "].PackageMeasure' id='f6_" + trindex + "' class='form-control' value='" + value6 + "' /></td>"
            trhtml = trhtml + "</tr>"
            trhtml = trhtml + "<tr id='tr2_" + trindex + "' style='display:none;'><td colspan='6'><div></div></td>"
            trhtml = trhtml + "</tr>"
            $("#trtbody").append(trhtml);
            trindex++;
        }
        function getcontainerSizeSelect(selectedId) {
            var selectHtml = "<select name='CreateUpdateContainerDtos[" + trindex + "].ContainerSizeId' class='form-control' >";
            for (var i = 0; i < containerSizes.length; i++) {
                selectHtml = selectHtml + "<option value='" + containerSizes[i].id + "' ";
                if (containerSizes[i].id == selectedId) selectHtml = selectHtml + " selected ";
                selectHtml = selectHtml + ">" + containerSizes[i].containerCode + "</option>"
            }
            selectHtml = selectHtml + "</select>";
            return selectHtml;
        }
        function exportDiv(trindex) {
            $("#tr2_" + trindex).show();
        }
        function changeHid(id, hid) {
            location.href = '/OceanExports/EditModal2?Id=' + id + "&Hid=" + hid
        }
        function gotoReport(rindex){
            var url = '';
            switch(rindex){
                default :
                    url = '@Url.Action("Car", "Repots")';
                    break;
                case 2:
                    url = '@Url.Action("Cargo", "Repots")';
                    break;
                case 3:
                    url = '@Url.Action("Box", "Repots")';
                    break;
                case 4:
                    url = '@Url.Action("ProfitSummary", "Repots")';
                    break;
                case 5:
                    url = '@Url.Action("ProfitDetail", "Repots")';
                    break;
            }
        }
    </script>
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:OceanExports"] />
            <abp-breadcrumb-item title=@L["Menu:OceanExports.CreateMbl"] href="#" />
        </abp-breadcrumb>
    </div>
    <nav class="submenu">
        <ol>
            <li class="menu-item ">
                <a href="EditModal?Id=@Model.Id">@L["Tab:Basic"]</a>
            </li>
            <li class="menu-item active">
                <a href="javascript:void(0)">@L["Tab:Container"]</a>
            </li>
            <li class="menu-item ">
                <a href="EditModal3?Id=@Model.Id">@L["Tab:Accounting"]</a>
            </li>
            <li class="menu-item ">
                <a href="EditModal4?Id=@Model.Id">@L["Tab:Doc"]</a>
            </li>
        </ol>
    </nav>
</div>
<div class="page-content-area">
    <form submit-button="true" data-ajaxForm="true" id="edit2Form">
        <abp-row>
            <abp-column size-md="_9">
                <div class="board-wrap">
                    <abp-card class="card board-item">
                        <abp-card-header class="card-header active" style="background:#555555;color:#FFFFFF;">

                            <abp-card-title>
                                MB/L
                                <span id="title0">@Model.OceanExportMbl.MblNo </span>
                                @if (@Model.OceanExportMbl.PolName != null)
                                {
                                    <span id="title1" style="font-size:0.8em;">@Model.OceanExportMbl.PolName</span>
                                }
                                @if (@Model.OceanExportMbl.PolEtd != null)
                                {
                                    <span id="title2" style="font-size:0.8em;">@Html.DisplayFor( Model => @Model.OceanExportMbl.PolEtd ) </span>
                                }
                                @if (@Model.OceanExportMbl.PodName != null)
                                {
                                    <span id="title3" style="font-size:0.8em;">@Model.OceanExportMbl.PodName</span>
                                }

                                @if (Model.OceanExportMbl.PodEta != null)
                                {
                                    <span id="title4" style="font-size:0.8em;">@Html.DisplayFor( Model =>  Model.OceanExportMbl.PodEta ) </span>
                                }
                                @if (@Model.OceanExportMbl.VesselName != null && @Model.OceanExportMbl.VesselName != "")
                                {
                                    <span id="title5" style="font-size:0.8em;"><i class="fa fa-anchor"></i> @Model.OceanExportMbl.VesselName </span>

                                }
                                @if (Model.OceanExportMbl.MblCarrierId != null)
                                {
                                    <span class="mbl_note _max-w12per">
                                        <i class="fa fa-ship"></i> @Model.OceanExportMbl.MblCarrierName
                                    </span>
                                }
                            </abp-card-title>


                            <!--
                            <div class="btn-group dropdown">
                                <button class="btn btn-secondary dropdown-toggle"  type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                    請選擇
                                </button>
                                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                                    <a class='dropdown-item' href='#'>
                                           <li class="fa fa-lock"></li> 鎖定
                                        </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-trash"></i> 刪除
                            </a>
                                    <li class="dropdown-divider"></li>
                            <a class='dropdown-item' href='#'>
                            <li class="fa fa-lock"></li> aaa
                            </a>

                                </div>
                            </div>
                            -->
                            <button class="btn btn-collapse " type="button" data-bs-toggle="collapse" data-bs-target="#mblDiv" aria-expanded="false" aria-controls="mblDiv">
                            </button>

                        </abp-card-header>
                        <abp-card-body class="collapse show" id="mblDiv">

                            <abp-row>

                                <abp-column size-md="_12">
                                    <div>
                                        <abp-button class="btn btn-success me-md-2" type="button" id="addBtn">+</abp-button>
                                        <abp-button class="btn btn-outline-success me-md-2" type="button" id="add5Btn">+5</abp-button>
                                        <abp-button class="btn btn-outline-warning me-md-2" type="button" id="copyBtn">copy</abp-button>
                                        <abp-button class="btn btn-outline-danger me-md-2" type="button" id="deleteBtn">delete</abp-button>
                                        <abp-button class="btn btn-outline-danger me-md-2" type="button" id="classificationBtn">分配集裝箱</abp-button>
                                    </div>
                                    <table width="100%" border="1" style="border-block-color:#333333;padding-left:10px;margin:4px;">
                                        <tr style="border:1;border-block-color:#333333;padding-left:10px;margin-left:4px;">
                                            <th width="5%"></th>
                                            <th width="20%">@L["Display:PackageNo"]</th>
                                            <th width="15%">@L["Display:PackageSize"]</th>
                                            <th width="15%">@L["Display:SmallSeal"]</th>
                                            <th width="15%">@L["Display:PackageType"]</th>
                                            <th width="15%">@L["Display:Weight"]</th>
                                            <th width="15%">@L["Display:Volume"]</th>
                                        </tr>
                                        <tbody id="trtbody">
                                        </tbody>

                                    </table>

                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-md="_12">
                    &nbsp;
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-md="_6">
                        <label for="t1">@L["Display:Mark"]</label>
                        <textarea id="t1" name="OceanExportMbl.Mark" class="form-control">@Model.OceanExportMbl.Mark</textarea>
                </abp-column>
                 <abp-column size-md="_6">
                        <label for="t2">@L["Display:DeionOfGoods"]</label>
                        <textarea id="t2" name="OceanExportMbl.Description" class="form-control">@Model.OceanExportMbl.Description</textarea>
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-collum>
                        <label for="t3">@L["Display:Ot"]</label>
                        <textarea id="t3" name="OceanExportMbl.DomesticInstructions" class="form-control">@Model.OceanExportMbl.DomesticInstructions</textarea>
                </abp-collum>
            </abp-row>
        </abp-card-body>
    </abp-card>
    <br />
                    <abp-card class="card board-item @Model.OceanExportHbl.CardColorValue " id="hblCard">
                        <abp-card-header id="hblCardHeader" class="card-header active ">
          
                    <abp-card-title>
                        HB/L @Model.OceanExportHbl.HblNo
                    </abp-card-title>

             
                    <!--
                    <div class="btn-group dropdown">
                        <button class="btn btn-secondary dropdown-toggle"  type="button" id="ActionDrop" data-bs-toggle="dropdown">
                            請選擇
                        </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                            <a class='dropdown-item' href='#'>
                                   <li class="fa fa-lock"></li> 鎖定
                                </a>
                    <a class='dropdown-item' href='#'>
                        <i class="fa fa-trash"></i> 刪除
                    </a>
                            <li class="dropdown-divider"></li>
                    <a class='dropdown-item' href='#'>
                    <li class="fa fa-lock"></li> aaa
                    </a>

                        </div>
                    </div>
                    -->
                    <button class="btn btn-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#hblDiv" aria-expanded="true" aria-controls="hblDiv"></button>

                
        </abp-card-header>
        <abp-card-body class="collapse show " id="hblDiv">
            
            <abp-row>
                <abp-column size-md="_2">
                    @L["Title:PoNo"]
                </abp-column>
                <abp-column size-md="_3">
                    <span style="font-size:0.8em;">@L["Title:PoNo.Description"]</span>
                 </abp-column>
            </abp-row>
            <abp-row>
                <abp-column>
                    <div id="PoNoTag" tagname="PoNoTag"></div>
                </abp-column>
            </abp-row>
            <abp-row>
                
                <abp-column size-md="_12">
                    <div>
                            
                    </div>
                        <table width="100%" border="1" style="border-block-color:#333333;padding-left:10px;margin:4px;">
                            <tr style="border:1;border-block-color:#333333;padding-left:10px;margin-left:4px;">
                                <th width="5%"></th>
                                <th width="20%">@L["Display:PackageNo"]</th>
                                <th width="15%">@L["Display:PackageType"]</th>
                                <th width="15%">@L["Display:Weight"]</th>
                                <th width="15%">@L["Display:Volume"]</th>
                                <th width="30%">@L["Title:PoNo"]</th>
                            </tr>
                        <tbody id="htrtbody"> 

                        </tbody>
                        <tfoot>
                            <tr>
                                <td><input type="radio" name="SurplusType" /></td>
                                <td>集裝箱總數</td>
                                <td><input type="text" class="form-control" value="" readonly/></td>
                                <td><input type="text" class="form-control" value="" readonly/></td>
                                <td><input type="text" class="form-control" value="" readonly /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="align-items:center"><input type="radio" name="SurplusType" /></td>
                                 <td>手動輸入總數</td>
                                <td><input type="text" class="form-control" value=""/></td>
                                <td><input type="text" class="form-control" value=""/></td>
                                <td><input type="text" class="form-control" value="" /></td>
                                        <td></td>
                                
                            </tr>
                        </tfoot>
                    </table>

                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_12">
                                    <div>
                                        商品 / 艙單商品
                                        <abp-button class="btn btn-success me-md-2" type="button" id="addCommodityBtn">+</abp-button>
                                        <abp-button class="btn btn-outline-danger me-md-2" type="button" id="deleteCommodityBtn">delete</abp-button>
                                    </div>
                                    <table width="100%" border="1" style="border-block-color:#333333;padding-left:10px;margin:4px;">
                                        <tr style="border:1;border-block-color:#333333;padding-left:10px;margin-left:4px;">
                                            <th width="5%"></th>
                                            <th width="15%">商品描述</th>
                                            <th width="15%">包裝種類</th>
                                            <th width="10%">HTS代碼</th>
                                            <th width="5%">件數</th>
                                            <th width="5%">淨重</th>
                                            <th width="5%">毛重</th>
                                            <th width="10%">單價</th>
                                            <th width="5%">金額</th>
                                            <th width="10%">商品詳情</th>
                                            <th width="15%">集裝箱</th>
                                        </tr>
                                        <tbody id="ctrtbody">
                                        </tbody>

                                    </table>
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-column size-md="_6">
                                    <label for="t1">@L["Display:Mark"]</label>
                                    <textarea id="t1" name="OceanExportMbl.Mark" class="form-control">@Model.OceanExportMbl.Mark</textarea>
                                </abp-column>
                                <abp-column size-md="_6">
                                    <label for="t2">@L["Display:DeionOfGoods"]</label>
                                    <textarea id="t2" name="OceanExportMbl.Description" class="form-control">@Model.OceanExportMbl.Description</textarea>
                                </abp-column>
                            </abp-row>
                            <abp-row>
                                <abp-collum>
                                    <label for="t3">@L["Display:Ot"]</label>
                                    <textarea id="t3" name="OceanExportMbl.DomesticInstructions" class="form-control">@Model.OceanExportMbl.DomesticInstructions</textarea>
                                </abp-collum>
                            </abp-row>
                        </abp-card-body>
                    </abp-card>
                    <abp-row>
                        <abp-column>
                            <input type="hidden" name="OceanExportHbl.PoNo" id="mPoNo" value="@Model.OceanExportHbl.PoNo" />
                            <abp-button class="btn btn-primary me-md-2" type="button" id="saveBtn">@L["Save"].Value</abp-button>
                        </abp-column>
                    </abp-row>
                </div>
            </abp-column>
            <abp-column size-md="_3">
                <div class="card-wrap">

                    <button class="btn btn-block btn-add" type="button" id="addHBtn">
                        <i class="fa-solid fa-plus"></i>@L["Btn:AddHbl"].Value
                    </button>

                    <div class="function-wrap">

                        <div class="form">
                            <div class="form-group">
                                <label for="cardOrderSet">卡片排序</label>
                                <select class="form-control  " id="cardOrderSet">
                                    <option selected>請選擇</option>
                                    <option value="建立日期">建立日期</option>
                                    <option value="HB/L 號碼">HB/L 號碼</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="cardOrder">Preference</label>
                                <select class="form-control " id="cardOrder">
                                    <option selected>請選擇</option>
                                    <option value="遞增">遞增</option>
                                    <option value="遞減">遞減</option>
                                </select>
                            </div>
                            <fieldset class="form-group">
                                <legend class="col-form-label">卡片顯示</legend>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label"
                                           for="inlineCheckbox1">託運人與收貨人</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                           id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label"
                                           for="inlineCheckbox2">名稱標籤</label>
                                </div>
                            </fieldset>

                            <button type="submit" class="btn btn-dark btn-block btn-update">
                                <i class="fa-solid fa-arrows-rotate"></i>更新
                            </button>
                        </div>

                    </div>

                    <!--  <div class="anchor-wrap">-->

                        <div id="hblCardDiv" class="cardAnchor">
                            @if (Model.OceanExportHbls != null)
                            {
                                foreach (var hbl in Model.OceanExportHbls)
                                {
                                    var focusString = "";
                                    if (Model.Hid == hbl.Id)
                                    {
                                        focusString = " focus ";
                                    }
                                    <div class="borad-anchor  @hbl.CardColorValue @focusString">
                                        <div class="borad-cont" onclick="changeHid('@Model.Id','@hbl.Id')">
                                            <a class="link" href="#cardA"></a>
                                            <span class="label label-HBL">HB/L</span>
                                            <span class="MBLnumber">@hbl.HblNo</span>
                                            @hbl.SoNo
                                            <a class="outlink" href="#" target="_blank">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                }

                        }




                    </div>
                </div>
                <div>
                </div>
            </abp-column>
        </abp-row>
    </form>
</div>