@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.ViewModels.Telexrelease.TelexreleaseIndexViewModel
@inject IStringLocalizer<FreightResource> L
@inject IAuthorizationService AuthorizationService
@{
    Layout = null;
}
<div style="background-color:black;display: flex;justify-content:center;">
    <div style="width:900px;background-color:white;">
        <br />
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <h3><span>@Model.Office</span></h3>
                            <div>
                                <span>
                                    <br />
                                    @{
                                        if (Model.Address != "")
                                        {
                                                    @Model.Address

                                                    <br />
                                        }
                                    }
                                    TEL: @Model.Tel @{
                                        if (Model.Fax != "")
                                        {
                                                    <span>FAX:</span> @Model.Fax
                                        }
                                    }
                                    <br />
                                    EMAIL: @Model.Email

                                    <br /><strong>Prepared by @Model.LastName @Model.FirstName @Model.DateTime (CST)</strong>
                                </span>
                            </div>
                        </td>
                        <td style="width:100px">&nbsp;</td>
                        <td>
                            <div style="border: 1px solid;width:350px;height:120px;display:flex;align-items:center;justify-content:center;color:darkblue;border-color:darkblue">

                                <p>&nbsp;</p>
                                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TELEX RELEASE</h3>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>Date</td>
                            <td>:</td>
                            <td>
                                <div>
                                    @Model.Date
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>To</td>
                            <td>:</td>
                            <td>
                                <div>
                                    @Model.To
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Attn</td>
                            <td>:</td>
                            <td>
                                <div>
                                    <strong>@Model.Attn</strong>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>From</td>
                            <td>:</td>
                            <td>
                                <div>
                                    @Model.From
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:text-top;">Ref.</td>
                            <td style="vertical-align:text-top;">:</td>
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>VESSEL</td>
                                            <td>:</td>
                                            <td>
                                                <div>
                                                    @Model.Vessel
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>MB/L #</td>
                                            <td>:</td>
                                            <td>
                                                <div>
                                                    @Model.Mbl
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>POD</td>
                                            <td>:</td>
                                            <td>
                                                <div>
                                                    @Model.Pod
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CNEE.</td>
                                            <td>:</td>
                                            <td>
                                                <div>
                                                    @Model.Cnee
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <br />
            <center>
                <hr style="color:black;" />
            </center>
            <br />
            <br />
            <div>
                <div style="display:inline-block">
                    Enclosed please find check
                </div>
                <div style="display:inline-block">
                    <div>
                        <span style="border-bottom: 1px black solid; width: 300px; display:block">@Model.Find_Check</span>
                    </div>
                </div>
                <div style="display:inline-block">
                    for O/F and copy of B/L.
                </div>
                <br />
                <div style="display:inline-block">
                    Please keep three original B/L and please send TELEX RELEASE to your agent in
                </div>
                <br />
                <div style="display:inline-block">
                    <div>
                        <span style="border-bottom: 1px black solid; width: 300px; display:block">@Model.Pod</span>
                    </div>
                </div>
                <div style="display:inline-block">
                    office to release container without originals.
                </div>
                <br />
                <div style="display:inline-block">
                    Please send telex release copy to us at fax #
                </div>
                <div style="display:inline-block">
                    <div>
                        <span style="border-bottom: 1px black solid; width: 300px; display:block">@Model.Fax</span>
                    </div>
                </div>
                or<br />email to
                <div style="display:inline-block">
                    <div>
                        <span style="border-bottom: 1px black solid; width: 300px; display:block">@Model.Email_U</span>
                    </div>
                </div>.
                <br />
                And also please send B/L copy to us.
            </div>
            <br />
            <br />
            <div>
                <div>
                    @Model.TextArea
                </div>
            </div>
        </div>
    </div>
</div>