@page "{id:Guid}/{handler?}"
@using Dolphin.Freight.Accounting;
@using Dolphin.Freight.ImportExport.Attachments;
@using Dolphin.Freight.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FreightResource> L
@model Dolphin.Freight.Web.Pages.AirImports.DocCenter.IndexModel
@{
}
@section styles {
    <style>
        .hideForm{
            display: none
        }
        .file-list {
            margin-top: 15px;
        }
    </style>
}
@section scripts
    {
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/jquery-templates@1.0.0/jquery.tmpl.min.js"></script>
    <abp-script src="/Pages/AirImports/DocCenter/DocCenter.js" />
    <script type="text/javascript">
        const l = abp.localization.getResource('Freight');

        $(function () {
            $(document).on('click', '.button-download', function () {
                const filename = $(this).data('filename');
                $('#form-download [name="filename"]').val(filename);
                $('#form-download').submit();
            });
            $(document).on('click', '.button-delete', function () {
                const filename = $(this).data('filename');
                $('#form-delete [name="filename"]').val(filename);
                const id = $(this).data('id');
                $('#form-delete [name="fileId"]').val(id);
                $('#form-delete').submit();
            });
            $(document).on('click', '#add-file', function () {
                $('#form-uploader [type="file"]').click();
            });
            $(document).on('change', '#form-uploader [type="file"]', function () {
                $('#form-uploader').submit();
            });
        });

        var cardIndex = 0;

        $('#addHBtn').on('click', function () {
            debugger;
            if ($('#mawbDiv')[0].classList.contains('show')) {
                $('#btnMawbCollapse').click();
            }

            if ($('#btnHawbCardCollapse_0').length) {
                showAlert(alertConfirmation2, 'Store');
            }
            else {

                let hawbcard = createHawbCard();

                let index = $('.hbl_sm_area').find('.card').length;
                hawbcard = setHawbCardValues(hawbcard, '00000000-0000-0000-0000-000000000000', '0', index);

                $('#hblCards').append(hawbcard);

                setTimeout(() => {
                    $('.hblCardTitle')[index].click();
                }, 500);
            }
        })

        $('#editForm').on('abp-ajax-success', function (result, rs) {
            console.log("enter here");
            event.preventDefault();
            abp.message.success('Successfully Saved').then(function () {
                location.href = "/AirImports/Index";
            });
            //location.href = '/AirImports/EditMawb/' + rs.responseText.id + '/show';
        });

        $('#hblMainCard').append('#mawbCard');

        function onHawbCardClick(e, hawbId) {
            debugger;
            var element = e.currentTarget || e.target || e.srcElement;
            var hblNo = element.id.split('_')[1];

            if ($('#btnHawbCardCollapse_0').length && hblNo != 0) {
                HAWBNO = hblNo;
                showAlert(alertConfirmation, 'Continue');
            }
            else {

                var color = getComputedStyle(element.parentElement.parentElement).backgroundColor;

                if (!$('#btnHawbCardCollapse_' + hblNo).attr('class').includes('collapsed')) {
                    $('.hblCardHawbNo').addClass('d-none');
                    $('#hblCard_' + hblNo).removeClass('d-none');
                }
                else {

                    var ajaxParams = undefined;

                    Swal.fire({
                        title: 'Loading...',
                        didOpen: () => {
                            Swal.showLoading()
                        }
                    })

                    abp.ajax($.extend(true, {
                        url: abp.appPath + 'api/ImportExport/AirDocCenterHBL?Id=' + hawbId,
                        type: 'GET',
                        dataType: "html",
                    }, ajaxParams)).done(function (partial) {
                        $('#partialContainer').html('');
                        $('#partialContainer').html(partial);
                        //$('#hblCard').find('.card-header').attr('style', 'background:' + color + ';color:white')
                        Swal.clickCancel();
                    })

                    $('.btnHawbCardCollapse').each(function (i, e) {
                        let tempHawbNo = e.id.split('_')[1];
                        if (tempHawbNo == hblNo) {
                            $('#btnHawbCardCollapse_' + hblNo).click();
                        }
                        else {
                            $('#btnHawbCardCollapse_' + tempHawbNo).addClass('collapsed');
                            $('#btnHawbCardCollapse_' + tempHawbNo).attr('aria-expanded', 'false');
                            $('#hawbCard_' + i).removeClass('show');
                        }
                    })

                    //let isExpanded = $('.btnHawbCardCollapse').filter(function(f, e){ return $(e).attr('aria-expanded') == 'true' }).length;

                    //if (isExpanded) {
                    //    $('.btnHawbCardCollapse').click();
                    //}
                    //else{
                    //    $('#btnHawbCardCollapse_'+hawbNo).click();
                    //}
                }
            }
        }

        function createHawbCard() {
            
            let abpCard = '<div class="{{divClass}}"><div class="card-header pointer"><h5 class="card-title hblCardTitle" id="title_{{hblNo}}"' +
                ' onclick="onHawbCardClick(event,{{hblCardId}})">{{hblNo}}</h5>' +
                ' <button type="button" class="btn d-none btn-collapse collapsed btnHawbCardCollapse" data-val="{{index}}" data-bs-toggle="collapse" id="btnHawbCardCollapse_{{hblNo}}" data-bs-target="#{{cardBodyId}}" aria-expanded="false" aria-controls="mawbDiv">' +
                ' <i class="fa fa-caret-down" style="color:#FFFFFF;"></i></button > </div><div class="card-body collapse" id="{{cardBodyId}}" style="min-height:150px !important"></div>';
            return abpCard;
        }

        function setHawbCardValues(abpcard, cardId, hblNo, index) {
            let apbCardClass = 'card board-item hbl-sm-' + index;
            let cardBodyId = 'hawbCard_' + index;
            cardId = "'" + cardId + "'";

            abpcard = abpcard.replaceAll("{{divClass}}", apbCardClass);
            abpcard = abpcard.replaceAll("{{hblNo}}", hblNo);
            abpcard = abpcard.replaceAll("{{hblCardId}}", cardId);
            abpcard = abpcard.replaceAll("{{index}}", index);
            abpcard = abpcard.replaceAll("{{cardBodyId}}", cardBodyId);

            return abpcard;
        }

        function showAlert(funName, buttonName) {
            Swal.fire({
                icon: 'error',
                text: 'The data has not been saved, are you sure you want to ' + buttonName.toLowerCase() + '?',
                showCancelButton: true,
                confirmButtonText: buttonName,
            }).then(funName)
        }

        function alertConfirmation(result) {
            if (result.isConfirmed) {
                let indx = $('.hbl_sm_area').find('.card').length;
                $('#btnHawbCardCollapse_0').parent().parent().remove();
                if (HAWBNO) {
                    $('#title_' + HAWBNO).click()
                }
                else {
                    $('#hawbCard_' + (indx - 2)).parent().find('.card-title').click();
                }
            }
        }

        function alertConfirmation2() {
            $('#saveBtn').click();
        }

    </script>
}

<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:Home"] />
            <abp-breadcrumb-item title=@L["Menu:AirImport"] />
            <abp-breadcrumb-item title=@L["Tab:Doc"] href="#" />
        </abp-breadcrumb>
    </div>
    <nav class="submenu">
        <ol>
            <li class="menu-item ">
                <a href="/AirImports/EditMawb?Id=@Model.Id">@L["Tab:Basic"]</a>
            </li>
            <li class="menu-item ">
                <a href="/AirImports/EditModal3?Id=@Model.Id">@L["Tab:Accounting"]</a>
            </li>
            <li class="menu-item active">
                <a href="javascript:void(0)">@L["Tab:Doc"]</a>
            </li>
        </ol>
    </nav>
</div>
<div class="page-content-area">
    <div class="board-wrap">
            <abp-row>
                <abp-column size-md="_9" id="parentCard">
                    <abp-card class="card board-item" id="mawbCard">
                        <abp-card-header style="background:#555555;color:#FFFFFF;">
                            <abp-card-title>
                                MAWB
                                <span id="title0">@Model.AirImportMawbDto.MawbNo </span>
                            </abp-card-title>

                            <div class="btn-group dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                                    @L["Display:Function"]
                                </button>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <a class='dropdown-item' href='#'>
                                        <i class="fa fa-lock"></i> @L["Btn:Lock"]
                                    </a>
                            <li class="dropdown-divider"></li>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-file-text-o"></i> @L["Btn:Cargo Manifest"]
                            </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-file-text-o"></i> @L["Btn:Arrival Notice (Consolidated by consignee)"]
                            </a>
                            <li class="dropdown-divider"></li>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report - Summary"]
                            </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report - Detailed"]
                            </a>
                            <li class="dropdown-divider"></li>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-file-text-o"></i> @L["Btn:Electronic Customs Declaration Status"]
                            </a>
                            <a class='dropdown-item' href='#'>
                                <i class="fa fa-cube"></i> @L["Btn:Open in Track-Trace"]
                            </a>



    </div>
</div>



<button type="button" class="btn btn-collapse" data-bs-toggle="collapse" data-bs-target="#mawbCard" aria-expanded="true" aria-controls="mawbCard">
</button>
                    </abp-card-header>
<abp-card-body class="collapse show" id="mawbCard">
    <abp-row>
        <abp-column>
            <abp-button id="add-file"
                        text=@L["Display:Button:New"]
                        icon="plus"
                        button-type="Outline_Secondary" />
        </abp-column>
    </abp-row>
    <abp-row class="default-freight-block">
        <abp-column>
            <table class="table file-list">
                <thead class="thead-dark">
                    <tr>
                        <th scope="Column">@L["Actions"]</th>
                        <th scope="Column">@L["Display:TradePartner:Document:THead:AttachmentName"]</th>
                        <th scope="Column">@L["Display:TradePartner:Document:THead:AttachmentUploadDate"]</th>
                        <th scope="Column">@L["Display:TradePartner:Document:THead:AttachmentSize"]</th>
                    </tr>
                </thead>
                <tbody>
                                            @foreach (AttachmentDto dto in Model.FileList)
                                            {
                        <tr>
                            <th scope="Row">
                                <div class="btn-group dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="ActionDrop_0" data-bs-toggle="dropdown">
                                                                @L["Actions"]
                                    </button>
                                    <div class="dropdown-menu" id="ActionDrop_div_0">
                                        <a class="dropdown-item button-download" href="javascript:void(0)" data-filename="@dto.FileName">
                                            <i class="fa fa-file"></i>下載
                                        </a>
                                        <a class="dropdown-item button-delete" href="javascript:void(0)" data-id="@dto.Id" data-filename="@dto.FileName">
                                            <i class="fa fa-trash"></i> 刪除
                                        </a>
                                    </div>
                                </div>
                            </th>
                            <td>@dto.FileName</td>
                            <td>@dto.CreationTime</td>
                            <td>@Model.GetFileSize(dto.FileName)</td>
                        </tr>
                                            }
                </tbody>
            </table>
        </abp-column>
    </abp-row>
</abp-card-body>
                </abp-card>

<div id="partialContainer">
</div>
        </abp-column>
<abp-column size-md="_3">
    <div class="card-wrap">

        <button class="btn btn-block btn-add" type="button" id="addHBtn">
            <i class="fa-solid fa-plus"></i>Add HAWB
        </button>

        <div id="hblCards" class="hbl_sm_area">
        </div>
    </div>
</abp-column>
    </abp-row>
</div>
</div>

<form method="get" asp-page-handler="download" class="hideForm" id="form-download" target="_blank">
    <input type="text" name="id" value="@Model.Id" />
    <input type="text" name="filename" />
    <button>Send</button>
</form>
<form method="post" asp-page-handler="delete" class="hideForm" id="form-delete">
    <input type="text" name="id" value="@Model.Id" />
    <input type="text" name="fileId" value="" />
    <input type="text" name="filename" />
    <button>Send</button>
</form>
<form method="post" asp-page-handler="uploader" class="hideForm" enctype="multipart/form-data" id="form-uploader">
    <input type="text" name="id" value="@Model.Id" />
    <input type="file" name="formFile" />
    <button>Send</button>
</form>