
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Dolphin.Freight.Web.Pages.Reports
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.ViewModels.Manifest.ManifestIndexViewModel
@inject IStringLocalizer<FreightResource> L
@inject IAuthorizationService AuthorizationService
@{
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<style>
    *{
         font-size: 100%;
    }

    body{
        background-color: black;
        display: flex;
        justify-content: center;
    }

    .btn {
        background-color: black;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: gray;
        }

        .container{
           display:flex; /*一開始需要在父層宣告為 flex 才有效*/
        }
        ​
        .item-right, .item-center, .item-left{
         flex:1;
        }

    .w-10, .w-20, .w-50, .w-100, .text-right, .text-center, .auto-font-size, textarea {
        font-size: 10px;
        padding-top: 2px;
        margin-left: 2px;
    }

    .item-pdf{
        display: none;
    }
</style>
<abp-style src="/Pages/Reports/Reports.css" />
<script>
    var zoom = 1;
    $(document).ready(function(){
		$('#zin').on('click', function(){
			zoom += 0.1;
			$('#form').css('transform', 'scale(' + zoom + ')');
		});

		$('#zout').on('click', function(){
			zoom -= 0.1;
			$('#form').css('transform', 'scale(' + zoom + ')');
		});

        document.getElementById("reportLink").onclick = function() {
            document.getElementById("myForm").submit();
        }
    });
</script>
<script>
    function toCurrency(num){
        var parts = num.toFixed(2).toString().split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        return parts.join('.');
    }

    var cal = function(){
        var total_PACKAGE = 0;
        var total_GROSS_WEIGHT_KGS = 0;
        var total_GROSS_WEIGHT_LBS = 0;
        var total_MEASUREMENT_CBM = 0;
        var total_MEASUREMENT_CFT = 0;
        var total_count = 0;

        $( ".cal" ).each(function() {
            
            var chk = $(this).find("input[name$='.chk']").prop('checked')
            if(chk)
            {
              var PACKAGE = parseFloat($(this).find("input[name$='.PACKAGE']").val().replaceAll(',',''));
              if(!isNaN(PACKAGE))
                total_PACKAGE += PACKAGE;

              var GROSS_WEIGHT_KGS = parseFloat($(this).find("input[name$='.GROSS_WEIGHT_KGS']").val().replaceAll(',',''));
              if(!isNaN(GROSS_WEIGHT_KGS))
                total_GROSS_WEIGHT_KGS += GROSS_WEIGHT_KGS;

              var GROSS_WEIGHT_LBS = parseFloat($(this).find("input[name$='.GROSS_WEIGHT_LBS']").val().replaceAll(',',''));
              if(!isNaN(GROSS_WEIGHT_LBS))
                total_GROSS_WEIGHT_LBS += GROSS_WEIGHT_LBS;

              var MEASUREMENT_CBM = parseFloat($(this).find("input[name$='.MEASUREMENT_CBM']").val().replaceAll(',',''));
              if(!isNaN(MEASUREMENT_CBM))
                total_MEASUREMENT_CBM += MEASUREMENT_CBM;

              var MEASUREMENT_CFT = parseFloat($(this).find("input[name$='.MEASUREMENT_CFT']").val().replaceAll(',',''));
              if(!isNaN(MEASUREMENT_CFT))
                total_MEASUREMENT_CFT += MEASUREMENT_CFT;

                total_count++;
            }
        });

        $('.total_PACKAGE').html(total_PACKAGE);
        $('.total_GROSS_WEIGHT_KGS').html(toCurrency(total_GROSS_WEIGHT_KGS))
        $('.total_GROSS_WEIGHT_LBS').html(toCurrency(total_GROSS_WEIGHT_LBS));
        $('.total_MEASUREMENT_CBM').html(toCurrency(total_MEASUREMENT_CBM));
        $('.total_MEASUREMENT_CFT').html(toCurrency(total_MEASUREMENT_CFT));
        $('.total_count').html(toCurrency(total_count));
        
        $('[name=total_PACKAGE]').val(total_PACKAGE);
        $('[name=total_GROSS_WEIGHT_KGS]').val(toCurrency(total_GROSS_WEIGHT_KGS));
        $('[name=total_GROSS_WEIGHT_LBS]').val(toCurrency(total_GROSS_WEIGHT_LBS));
        $('[name=total_MEASUREMENT_CBM]').val(toCurrency(total_MEASUREMENT_CBM));
        $('[name=total_MEASUREMENT_CFT]').val(toCurrency(total_MEASUREMENT_CFT));
        $('[name=total_count]').val(total_count);
    }

    var show_pcs_and_amount = function(){
        var is_show_pcs_and_amount = $('#id_is_show_pcs_and_amount').prop('checked');
        $( ".good_items" ).each(function() {
            if(is_show_pcs_and_amount)
                $(this).html($(this).siblings('[name$=good_items_with_pcs_and_amount]').val());
            else
                $(this).html($(this).siblings('[name$=good_items_without_pcs_and_amount]').val());
        });
    }

    var show_mark = function(){
        var is_show_mark_and_description = $('#id_show_mark_and_description').prop('checked');
        if(is_show_mark_and_description)
            $('.show_mark_and_description').show();
        else
            $('.show_mark_and_description').hide();
    }

    $(document).ready(function(){
        cal();
    });
</script>
<form id="myForm" name="myForm" method="POST">
    <div style="background-color:black;display: flex;justify-content:center;">
    <div style="width:1200px;background-color:white;" id="form" name = "form" class="edit">
        <div class="container" style="background-color:black">    
            <div style="display:flex;justify-content: center;" class="item-left">
                @*<button class="btn"><i class="fa fa-file-pdf-o"></i></button>
                <button class="btn"><i class="fa fa-print"></i></button>*@
                <a class="btn" href="#" id="reportLink" name="reportLink" ><i class="fa fa-print">儲存PDF或列印</i></a>
            </div>
            @*<div style="float:right;" class="item-right">
                <button class="btn zoom" id="zout" name="zout"><i class="fa fa-search-minus"></i></button>
                <button class="btn zoom-out" id="zin" name="zin"><i class="fa fa-search-plus"></i></button>
            </div>*@
        </div>


<div class="wrap landscape oe-cargo-manifest-mbl">
   <div class="header header-normal">
      <table>
         <tbody>
            <tr>
               <td class="w-12 logo">
                    <img src="/Pages/Reports/logo.png">
               </td>
               <td class="w-51">
                    <h1 class="auto-font-size office-name">
                        <span>@Model.Office</span>
                    </h1>
                  <div class="auto-font-size office-des">
                    <span>
                        @{
                            if (Model.Address != "")
                            {
                                @Model.Address
                                <br />
                            }
                        }
                        TEL: @Model.Tel FAX: @Model.Fax <br>
                        EMAIL: @Model.Email
                        <br /><strong>Prepared by @Model.LastName @Model.FirstName @Model.DateTime (CST)</strong>
                                    
                        <input type="hidden" name="Office" value="@Model.Office" />
                        <input type="hidden" name="Address" value="@Model.Address" />
                        <input type="hidden" name="TEL" value="@Model.Tel" />
                        <input type="hidden" name="EMAIL" value="@Model.Email" />
                        <input type="hidden" name="LastName" value="@Model.LastName" />
                        <input type="hidden" name="FirstName" value="@Model.FirstName" />
                        <input type="hidden" name="DateTime" value="@Model.DateTime" />
                    </span>
                  </div>
               </td>
               <td class="w-2">&nbsp;</td>
               <td class="w-35 title text-center td">
                  <div class="border-deep-blue col-padding-sm">
                     <h2 class="blue-lg border-deep-blue col-padding-sm">CARGO MANIFEST</h2>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="con oe-cargo-manifest">
      <table>
         <tbody>
            <tr>
               <td class="td w-28">
                  <div class="space_area">&nbsp;</div>
                  <table>
                     <tbody>
                        <tr>
                           <td class="highlight-block">
                              <div class="title">FROM :</div>
                              <div class="data">
                                 <div class="item-pdf auto-font-size __width-lg"><span></span></div>
                                 <div class="item-edit hover-toggle-icon-text-template">
                                    <input type="text" name="from_trade_partner" value="@Model.from_trade_partner" id="id_from_trade_partner" class="ng-isolate-scope">
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>&nbsp;</td>
                        </tr>
                        <tr>
                           <td class="highlight-block">
                              <div class="title">TO :</div>
                              <div class="data">
                                 <div class="item-pdf auto-font-size __col-textarea">
                                    <span></span>
                                 </div>
                                 <div class="item-edit hover-toggle-icon-text-template">
                                    <textarea name="to_trade_partner_area" cols="40" rows="5" class="text-scroll no-adjustment ng-isolate-scope" id="id_to_trade_partner_area">
                                    @{
                                        if (Model.to_trade_partner_area != "")
                                        {
                                            @Model.to_trade_partner_area
                                        }
                                    }
                                    </textarea>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>&nbsp;</td>
                        </tr>
                     </tbody>
                  </table>
               </td>
               <td class="td w-2"></td>
               <td class="td w-70">
                  <div class="space_area">&nbsp;</div>
                  <table>
                  </table>
                  <table class="border table-padding-double">
                     <tbody>
                        <tr class="border-b">
                           <td class="w-18 bg-light border-r">MASTER B/L NO.</td>
                           <td class="w-42">@Model.MblNo<input type="hidden" name="MblNo" value="@Model.MblNo" /></td>
                           <td class="w-12 bg-light border-r border-l">FILE NO.</td>
                           <td class="w-28">
                              <div class="item-pdf"></div>
                              <div class="item-edit hover-toggle-icon-text-template">
                                 <input type="text" name="filing_no" value="@Model.filing_no" id="id_filing_no" class="ng-isolate-scope">
                              </div>
                           </td>
                        </tr>
                        <tr class="border-b">
                           <td class="bg-light border-r">BOOKING NO.</td>
                           <td>@Model.BookingNo<input type="hidden" name="BookingNo" value="@Model.BookingNo" /></td>
                           <td class="bg-light border-r border-l">CARRIER</td>
                           <td>@Model.Carrier<input type="hidden" name="Carrier" value="@Model.Carrier" /></td>
                        </tr>
                        <tr class="border-b">
                           <td class="bg-light border-r">VESSEL</td>
                           <td>
                              <div class="item-pdf"></div>
                              <div class="item-edit hover-toggle-icon-text-template">
                                 <input type="text" name="vessel_name" value="@Model.vessel_name" id="id_vessel_name" class="ng-isolate-scope">
                              </div>
                           </td>
                           <td class="bg-light border-r border-l">VOYAGE</td>
                           <td>
                              <div class="item-pdf"></div>
                              <div class="item-edit hover-toggle-icon-text-template">
                                 <input type="text" name="voyage" value="@Model.voyage" id="id_voyage" class="ng-isolate-scope">
                              </div>
                           </td>
                        </tr>
                        <tr class="border-b">
                           <td class="bg-light border-r">P.O.L</td>
                           <td>
                              <div class="item-edit hover-toggle-icon-text-template">
                                 <input type="text" name="POL_location" value="@Model.POL_location" id="id_POL_location" class="ng-isolate-scope">
                              </div>
                           </td>
                           <td class="bg-light border-r border-l">ETD</td>
                           <td>@Model.ETD<input type="hidden" name="ETD" value="@Model.ETD" /></td>
                        </tr>
                        <tr class="border-b">
                           <td class="bg-light border-r">P.O.D</td>
                           <td>
                              <div class="item-edit hover-toggle-icon-text-template">
                                 <input type="text" name="POD_location" value="@Model.POD_location" id="id_POD_location" class="ng-isolate-scope">
                              </div>
                           </td>
                           <td class="bg-light border-r border-l">ETA</td>
                           <td>@Model.ETA<input type="hidden" name="ETA" value="@Model.ETA" /></td>
                        </tr>
                        <tr class="border-b">
                            <td class="bg-light border-r">CNTR NO. / SEAL # / SIZE</td>
                            <td colspan="3">@Model.CNTR_NO_SEAL_SIZE<input type="hidden" name="ETA" value="@Model.CNTR_NO_SEAL_SIZE" /></td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
      <div>&nbsp;</div>

      <div class="checkbox item-edit">
        <label>
            <input type="checkbox" name="show_mark_and_description" value="true" class="item-edit ng-valid ng-dirty ng-valid-parse ng-touched ng-empty" id="id_show_mark_and_description" onchange="show_mark()"> Show Mark and Description
        </label>
    </div>

      <table class="table-padding table-valign-top _text-12">
        <colgroup>
            <col class="w-12"><!--HBL-->
            <col class="w-13"><!--Weight-->
            <col class="w-20"><!--Shipper-->
            <col class="w-20"><!--Consignee-->
            <col class="w-23"><!--GOODS-->
            <col class="w-12"><!--TERM-->
        </colgroup>
        <thead>
            <tr class="border-t border-b bg-light">
                <th class="col-padding text-left">HOUSE B/L
                    <br>PCS
                </th>
                <th class="col-padding text-center">WEIGHT
                    <br>MEASUREMENT
                </th>
                <th class="col-padding text-left">SHIPPERS NAME &amp; ADDRESS</th>
                <th class="col-padding text-left">CONSIGNEE NAME &amp; ADDRESS</th>
                <th class="col-padding text-left">
                    <div class="margin-t"></div>
                    NATURE OF GOODS
                    <div class="item-edit">
                        <label class="text-10">
                            <input type="checkbox" name="is_show_pcs_and_amount" onchange="show_pcs_and_amount()" value="true" class="item-edit ng-untouched ng-valid ng-empty ng-dirty" id="id_is_show_pcs_and_amount"> Show commodity PCS and amount
                        </label>
                    </div>
                </th>
                <th class="col-padding text-center">TERM</th>
            </tr>
        </thead>
         <tbody>
            @if (Model.ContainerList != null && Model.ContainerList.Count > 0)
            {
                for (int i = 0; i < Model.ContainerList.Count; i++)
                {
                    var container = Model.ContainerList[i];
                    <tr class="border-b-grey cal">
                        <td>
                            <input type="checkbox" value="true" onchange="cal()" name="ContainerList[@(i.ToString())].chk" class="ng-pristine ng-untouched ng-valid ng-not-empty" checked>
                            @container.BL_NO <input type="hidden" name="ContainerList[@(i.ToString())].BL_NO" value="@container.BL_NO" /> <br/>
                            @container.PACKAGE PALLET(S)<input type="hidden" name="ContainerList[@(i.ToString())].PACKAGE" value="@container.PACKAGE" />
                        </td>
                        <td class="text-center">@container.GROSS_WEIGHT_KGS KGS<input type="hidden" name="ContainerList[@(i.ToString())].GROSS_WEIGHT_KGS" value="@container.GROSS_WEIGHT_KGS" /><br>@container.GROSS_WEIGHT_LBS LBS<input type="hidden" name="ContainerList[@(i.ToString())].GROSS_WEIGHT_LBS" value="@container.GROSS_WEIGHT_LBS" /> <br> @container.MEASUREMENT_CBM CBM<input type="hidden" name="ContainerList[@(i.ToString())].MEASUREMENT_CBM" value="@container.MEASUREMENT_CBM" /><br>@container.MEASUREMENT_CFT CFT<input type="hidden" name="ContainerList[@(i.ToString())].MEASUREMENT_CFT" value="@container.MEASUREMENT_CFT" /></td>
                          <td>
                            <div class="item-edit hover-toggle-icon-text-template">
                              <textarea name="ContainerList[@(i.ToString())].shipper" cols="40" rows="5" class="text-scroll ng-isolate-scope">@container.shipper</textarea>
                            </div>
                          </td>
                          <td>
                            <div class="item-edit hover-toggle-icon-text-template">
                              <textarea name="ContainerList[@(i.ToString())].consignee" cols="40" rows="5" class="text-scroll ng-isolate-scope">@container.consignee</textarea>
                            </div>
                          </td>
                          <td>
                            <div class="item-edit hover-toggle-icon-text-template">
                              <textarea name="ContainerList[@(i.ToString())].good_items" cols="40" rows="5" class="text-scroll ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty good_items">@container.good_items</textarea>
                              <input type="hidden" name="ContainerList[@(i.ToString())].good_items_without_pcs_and_amount" value="@container.good_items_without_pcs_and_amount" />
                              <input type="hidden" name="ContainerList[@(i.ToString())].good_items_with_pcs_and_amount" value="@container.good_items_with_pcs_and_amount" />
                            </div>
                          </td>
                          <td class="text-center"> PP <br>
                            <input type="checkbox" name="ContainerList[@(i.ToString())].show_non_stackable" value="true" class="item-edit" checked="">
                            <strong>NON-STACKABLE</strong>
                          </td>
                    </tr>
                }
            }

            <tr class="border-b-grey show_mark_and_description" style="display:none">
                <th class="text-left col-padding-double valign-top" colspan="3">MARK
                    <div class="item-edit hover-toggle-icon-text-template"><textarea name="mark" cols="40" rows="5" class="text-scroll ng-isolate-scope" >@Model.mark</textarea>
                    </div>
                </th>
                <th class="text-left col-padding-double valign-top" colspan="3">DESCRIPTION                                
                    <div class="item-edit hover-toggle-icon-text-template"><textarea name="description" cols="40" rows="5" class="text-scroll ng-isolate-scope">@Model.description</textarea>
                    </div>
                </th>
            </tr>

            <tr class="border-t border-b bg-light">
                <td colspan="2">
                    <strong>Total <span class="item-edit ng-binding total_PACKAGE"></span> (PCS)
                    </strong>
                </td>
                <td>
                        
                        <span class="item-edit ng-binding total_GROSS_WEIGHT_KGS"></span> KG
                        
                    <br>
                        
                        <span class="item-edit ng-binding total_GROSS_WEIGHT_LBS"></span> LB
                        
                </td>
                <td>
                        
                        <span class="item-edit ng-binding total_MEASUREMENT_CBM"></span> CBM
                        
                    <br>
                        
                        <span class="item-edit ng-binding total_MEASUREMENT_CFT"></span> CFT
                        
                </td>
                <td class="text-center" colspan="2">
                    <span class="item-edit ng-binding total_count"></span> BL(S)
                </td>
            </tr>

            <input type="hidden" name="total_PACKAGE" />
            <input type="hidden" name="total_GROSS_WEIGHT_KGS" />
            <input type="hidden" name="total_GROSS_WEIGHT_LBS" />
            <input type="hidden" name="total_MEASUREMENT_CBM" />
            <input type="hidden" name="total_MEASUREMENT_CFT" />
            <input type="hidden" name="total_count" />
         </tbody>
      </table>
   </div>
</div>


    </div>
</div>
</form>