
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Dolphin.Freight.Web.Pages.Reports
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.ViewModels.PickupDeliveryOrder.PickupDeliveryOrderIndexViewModel
@inject IStringLocalizer<FreightResource> L
@inject IAuthorizationService AuthorizationService
@{
    Layout = null;
}
@if (!string.IsNullOrEmpty(Model.BaseUrl))
{
    <base href="@Model.BaseUrl">
}
<style>
    .btn {
        background-color: black;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: gray;
        }

        .container{
           display:flex; /*一開始需要在父層宣告為 flex 才有效*/
        }
        ​
        .item-right, .item-center, .item-left{
         flex:1;
        }

    .w-10, .w-20, .w-50, .w-100, .text-right, .text-center, .auto-font-size, textarea {
        font-size: 10px;
        font-style: oblique;
        padding-top: 2px;
        margin-left: 2px;
    }
</style>
<abp-style src="/Pages/Reports/Reports.css" />
    <div style="background-color:black;display: flex;justify-content:center;">
    <div style="width:900px;background-color:white;" id="form" name = "form" class="edit">


<div class="wrap pickup-delivery oe-pickup-delivery ng-scope" ng-app="hcFormApp" ng-controller="oePdoController as vm">
   <div class="header header-normal">
      <table>
         <tbody>
            <tr>
               <td class="w-15 logo">
                        <img src="/Pages/Reports/logo.png">
               </td>
               <td class="w-48">
                    <h1 class="auto-font-size office-name">
                        <span>@Model.Office</span>
                    </h1>
                  <div class="auto-font-size office-des">
                    <span>
                        @{
                            if (Model.Address != "")
                            {
                                @Model.Address
                                <br />
                            }
                        }
                        TEL: @Model.Tel FAX: @Model.Fax <br>
                        EMAIL: @Model.Email
                            <br /><strong>Prepared by @Model.LastName @Model.FirstName @Model.DateTime (CST)</strong>
                    </span>
                  </div>
               </td>
               <td class="w-2">&nbsp;</td>
               <td class="w-35 title border-deep-blue text-center">
                  <div class="">
                     <h2 class="blue-lg">
                         @if(Model.form_title == "1")
                         {
                             <text>PICKUP &amp; DELIVERY ORDER</text>
                         }
                         else if(Model.form_title == "2"){
                             <text>REQUEST FOR TRANSPORT</text>
                         }
                     </h2>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      <table class="text-10 margin-t table-padding-double">
         <tbody>
            <tr>
               <td class="w-52">&nbsp;</td>
               <td class="w-9 border-l border-t border-b"><strong>ISSUED AT :</strong></td>
               <td class="w-10 border-t border-b border-r">
                  <div class="">@Model.issue_at</div>
               </td>
               <td class="w-11 border-t border-b"><strong>ISSUED BY :</strong></td>
               <td class="w-18 border-t border-b border-r">
                  <div class="">@Model.issue_by</div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="con">
      <table>
         <tbody>
            <tr>
               <td class="w-48 td">
                  <table>
                     <tbody>
                        <tr>
                           <td class="td highlight-block">
                              <div class="title">
                                 <div class=""></div>
                                 <div class="item-edit">
                                    <table>
                                       <tbody>
                                          <tr>
                                             <td class="w-50">TRUCKER</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                              <div class="data">
                                 <div class="item-edit hover-toggle-icon-text-template">
                                     @Html.Raw((Model.trucker_area ?? "").Replace(Environment.NewLine, "<br/>"))

                                    @{
                                        var table_rows = (Model.trucker_area ?? "").Replace(Environment.NewLine, "<br/>").Split(new string[] { "<br/>" }, StringSplitOptions.RemoveEmptyEntries).Length;

                                        if(table_rows < 6)
                                        {
                                            for (int i = 0; i < 6 - table_rows; i++)
                                            {
                                                <br/>
                                            }
                                        }
                                    }
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>&nbsp;</td>
                        </tr>
                        @if(!string.IsNullOrEmpty(Model.is_show_empty_pickup_area))
                        {               
                            <tr>
            <td class="td highlight-block">
                <div class="title">
                    <div class="">EMPTY PICK UP LOCATION</div>
                </div>
                <div class="data">
                    <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="item-edit hover-toggle-icon-text-template">
                                @Html.Raw((Model.empty_pickup_area ?? "").Replace(Environment.NewLine, "<br/>"))

                                

                                    @{
                                        var table_rows3 = (Model.empty_pickup_area ?? "").Replace(Environment.NewLine, "<br/>").Split(new string[] { "<br/>" }, StringSplitOptions.RemoveEmptyEntries).Length;

                                        if(table_rows3 < 6)
                                        {
                                            for (int i = 0; i < 6 - table_rows3; i++)
                                            {
                                                <br/>
                                            }
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                    <table>
                    <tbody>
                        <tr class="text-12">
                            <td class="w-20">REF. NO. :</td>
                            <td class="w-80">
                                <div class="">@Model.empty_pickup_ref_no</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-20">DATE:</td>
                            <td class="w-80">
                                <div class="">@Model.empty_pickup_date // @Model.empty_pickup_time</div>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </td>
        </tr>
                        }
                        <tr>
                           <td>&nbsp;</td>
                        </tr>
                        <tr>
                           <td class="td highlight-block">
                              <div class="title">
                                 <div class="">FREIGHT PICK UP LOCATION</div>
                              </div>
                              <div class="data">
                                 <table>
                                    <tbody>
                                       <tr>
                                          <td colspan="2">
                                             <div class="item-edit hover-toggle-icon-text-template">                   
                                                @Html.Raw((Model.cargo_pickup_area ?? "").Replace(Environment.NewLine, "<br/>"))

                                                

                                    @{
                                        var table_rows5 = (Model.cargo_pickup_area ?? "").Replace(Environment.NewLine, "<br/>").Split(new string[] { "<br/>" }, StringSplitOptions.RemoveEmptyEntries).Length;

                                        if(table_rows5 < 6)
                                        {
                                            for (int i = 0; i < 6 - table_rows5; i++)
                                            {
                                                <br/>
                                            }
                                        }
                                    }
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <table>
                                    <tbody>
                                       <tr class="text-12">
                                          <td class="w-20">REF. NO. :</td>
                                          <td class="w-80">
                                             <div class="">@Model.cargo_pickup_ref_no</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td class="w-20">DATE:</td>
                                          <td class="w-80">
                                             <div class="">@Model.cargo_pickup_date // @Model.cargo_pickup_time</div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>&nbsp;</td>
                        </tr>
                        @if(!string.IsNullOrEmpty(Model.is_show_delivery_to_area))
                        {
                        <tr>
                           <td class="td highlight-block">
                              <div class="title">
                                 <div class="">LOADED RETURN/DELIVERY TO</div>
                              </div>
                              <div class="data">
                                 <table>
                                    <tbody>
                                       <tr>
                                          <td colspan="2">
                                             <div class="item-edit hover-toggle-icon-text-template">                                                 
                                                @Html.Raw((Model.delivery_to_area ?? "").Replace(Environment.NewLine, "<br/>"))

                                                

                                    @{
                                        var table_rows4 = (Model.delivery_to_area ?? "").Replace(Environment.NewLine, "<br/>").Split(new string[] { "<br/>" }, StringSplitOptions.RemoveEmptyEntries).Length;

                                        if(table_rows4 < 6)
                                        {
                                            for (int i = 0; i < 6 - table_rows4; i++)
                                            {
                                                <br/>
                                            }
                                        }
                                    }
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <table>
                                    <tbody>
                                       <tr class="text-12">
                                          <td class="w-20">REF. NO. :</td>
                                          <td class="w-80">
                                             <div class="">@Model.delivery_to_ref_no</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td class="w-20">DATE:</td>
                                          <td class="w-80">
                                             <div class="">@Model.delivery_to_date // @Model.delivery_to_time</div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                        }
                     </tbody>
                  </table>
               </td>
               <td class="w-4">&nbsp;</td>
               <td class="w-48 td border-t data-lg">
                  <table>
                     <tbody>
                        <tr>
                           <td class="td w-49 border-b border-l">
                              <div class="title">MB/L NO.</div>
                              <div class="data data--highlight auto-font-size __width-sm">
                                 <span>@(Model.MBL_NO ?? Environment.NewLine)</span>
                              </div>
                           </td>
                           <td class="w-2">&nbsp;</td>
                           <td class="td w-49 border-b border-r">
                              <div class="title">HB/L NO.</div>
                              <div class="data data--highlight auto-font-size __width-sm">
                                 <span>@(Model.HBL_NO ?? Environment.NewLine)</span>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td class="td border-b border-l">
                              <div class="title">OUR REF. NO.</div>
                              <div class="data auto-font-size __width-sm">
                                 <span>@(Model.OUR_REF_NO ?? Environment.NewLine)</span>
                              </div>
                           </td>
                           <td class="w-2">&nbsp;</td>
                           <td class="td border-b border-r">
                              <div class="title">CARRIER BKG NO.</div>
                              <div class="data">
                                 <div class=" auto-font-size __width-sm">
                                    <span>@(Model.cargo_pickup_area ?? Environment.NewLine)</span>
                                 </div>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="border-l border-r">
                     <tbody>
                        <tr>
                           <td class="td border-b">
                              <div class="title">
                                 <div class="">CARRIER</div>
                              </div>
                              <div class="data">
                                 <div class=" auto-font-size __width-lg">
                                    <span>@(Model.carrier ?? Environment.NewLine)</span>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td class="td border-b">
                              <div class="title">VESSEL INFO.</div>
                              <div class="data auto-font-size __width-lg"><span>@(Model.VESSEL_INFO ?? Environment.NewLine)</span></div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table>
                     <tbody>
                        <tr>
                           <td class="td border-b w-74 border-l">
                              <div class="title">PLACE OF RECEIPT</div>
                              <div class="data">
                                 <div class=" auto-font-size __width-md"><span>@(Model.POR_location ?? Environment.NewLine)</span></div>
                              </div>
                           </td>
                           <td class="w-2">&nbsp;</td>
                           <td class="td border-b w-24 border-r">
                              <div class="title">ETD</div>
                              <div class="data">
                                 @(Model.POR_location_ETD ?? Environment.NewLine)
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td class="td border-b border-l">
                              <div class="title">PORT OF LOADING</div>
                              <div class="data">
                                 <div class=" auto-font-size __width-md"><span>@(Model.POL_location ?? Environment.NewLine)</span></div>
                              </div>
                           </td>
                           <td class="w-2">&nbsp;</td>
                           <td class="td border-b border-r">
                              <div class="title">ETD</div>
                              <div class="data">
                                 @(Model.POL_location_ETD ?? Environment.NewLine)
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td class="td border-b border-l">
                              <div class="title">PORT OF DISCHARGE</div>
                              <div class="data">
                                 <div class=" auto-font-size __width-md"><span>@(Model.POD_location ?? Environment.NewLine)</span></div>
                              </div>
                           </td>
                           <td class="w-2">&nbsp;</td>
                           <td class="td border-b border-r">
                              <div class="title">ETA</div>
                              <div class="data">
                                 @(Model.POD_location_ETD ?? Environment.NewLine)
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="border-l border-r">
                     <tbody>
                        <tr>
                           <td class="td border-b">
                              <div class="title">Container/Qty.</div>
                              <div class="data">
                                 <div class=" auto-font-size __width-lg"><span>@(Model.container_qty ?? Environment.NewLine)</span></div>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table>
                     <tbody>
                        <tr>
                           <td class="td border-b border-l w-70">
                              <table>
                                 <tbody>
                                    <tr>
                                       <td class="w-50 td">
                                          <div class="title">TOTAL PACKAGES</div>
                                          <div class="data">
                                             <div class="">@(Model.total_packages_count ?? Environment.NewLine)</div>
                                          </div>
                                       </td>
                                       <td class="w-50 td">
                                          <div class="title">&nbsp;</div>
                                          <div class="data text-center">
                                             <div class=" auto-font-size __width-pkg">
                                                <span>@(Model.package_unit ?? Environment.NewLine)</span>
                                             </div>
                                          </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                           <td class="w-2">&nbsp;</td>
                           <td class="td border-b border-r w-28">
                              <div class="title">PORT CUT-OFF</div>
                              <div class="data">
                                 <small class="text-10">&nbsp;</small>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table>
                     <tbody>
                        <tr class="border-l border-r">
                           <td class="td border-b">
                              <div class="title">GROSS WEIGHT</div>
                              <div class="data">
                                 <table>
                                    <tbody>
                                       <tr>
                                          <td class="w-40 text-right">
                                             <div class="">@Model.gross_weight_kgs</div>
                                          </td>
                                          <td class="w-10 text-center">KGS</td>
                                          <td class="w-40 text-right">
                                             <div class="">@Model.gross_weight_lbs</div>
                                          </td>
                                          <td class="w-10 text-center">LBS</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                        <tr class="border-l border-r">
                           <td class="td border-b">
                              <div class="title">MEASUREMENT</div>
                              <div class="data">
                                 <table>
                                    <tbody>
                                       <tr>
                                          <td class="w-40 text-right">
                                             <div class="">@Model.measurement_cbm</div>
                                          </td>
                                          <td class="w-10 text-center">CBM</td>
                                          <td class="w-40 text-right">
                                             <div class="">@Model.measurement_cft</div>
                                          </td>
                                          <td class="w-10 text-center">CFT</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table>
                     <tbody>
                        <tr class="border-l border-r">
                           <td class="td border-b">
                              <div class="title">COMMODITY</div>
                              <div class="data">
                                 @(Model.COMMODITY ?? Environment.NewLine)
                              </div>
                           </td>
                        </tr>
                        <tr class="border-l border-r">
                           <td class="td border-b">
                              <div class="title">PO NO.</div>
                              <div class="data">
                                 @(Model.PO_NO ?? Environment.NewLine)
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  @if(!string.IsNullOrEmpty(Model.id_is_show_bill_to))
                  {
                  <table>
                     <tbody>
                        <tr class="border-l border-r">
                           <td class="td border-b">
                              <div class="title">
                                 <div class="">BILL TO</div>
                              </div>
                              <div class="data ng-scope">
                                 <table>
                                    <tbody>
                                       <tr>
                                          <td>
                                             <div class="item-edit hover-toggle-icon-text-template">
                                                @Html.Raw((Model.billing_to_area ?? "").Replace(Environment.NewLine, "<br/>"))

                                    @{
                                        var table_rows6 = (Model.billing_to_area ?? "").Replace(Environment.NewLine, "<br/>").Split(new string[] { "<br/>" }, StringSplitOptions.RemoveEmptyEntries).Length;

                                        if(table_rows6 < 6)
                                        {
                                            for (int i = 0; i < 6 - table_rows6; i++)
                                            {
                                                <br/>
                                            }
                                        }
                                    }
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <table>
                                    <tbody>
                                       <tr>
                                          <td class="w-20">REF. NO. :</td>
                                          <td class="w-80">
                                             <div class="">@Model.billing_to_ref_no</div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  }
               </td>
            </tr>
         </tbody>
      </table>
      <table class="margin-t">
         <tbody>
            <tr class="border-b border-t bg-light text-8">
               <th class="w-15 border-r text-left col-padding-double">
                  CONTAINER NO.
               </th>
               <th class="w-6 border-r text-center col-padding-double">
                  TYPE
               </th>
               <th class="w-12 border-r text-left col-padding-double">
                  SEAL NO.
               </th>
               <th class="w-15 border-r text-right col-padding-double">
                  PACKAGE
               </th>
               <th class="w-24 border-r text-right col-padding-double">
                  WEIGHT
               </th>
               <th class="w-12 border-r text-left col-padding-double">
                  PICKUP NO.
               </th>
               <th class="w-10 text-center col-padding-double">
                  L.F.D
               </th>
            </tr>


            @if(Model.ContainerList != null && Model.ContainerList.Count > 0)
            {
                for (int i = 0; i < Model.ContainerList.Count; i++)
                {
                    var container = Model.ContainerList[i];
                       
                    if(string.IsNullOrEmpty(container.chk))
                    {
                        continue;
                    }

                    <tr class="border-b">
                       <td class="td td-item border-r">@(container.CONTAINER_NO ?? Environment.NewLine)</td>
                       <td class="td td-item text-center border-r">@(container.TYPE ?? Environment.NewLine)</td>
                       <td class="td td-item border-r">@(container.SEAL_NO ?? Environment.NewLine)</td>
                       <td class="td td-item text-right border-r">@(container.PACKAGE ?? Environment.NewLine)</td>
                       <td class="td td-item text-right border-r">@(container.WEIGHT ?? Environment.NewLine)</td>
                       <td class="td td-item border-r">@(container.PICKUP_NO ?? Environment.NewLine)</td>
                       <td class="td td-item text-center">@(container.LFD ?? Environment.NewLine)</td>
                    </tr>                   
                }                             
            }
            else
            {
                <tr class="border-b">
                   <td class="td td-item border-r">&nbsp;</td>
                   <td class="td td-item text-center border-r"></td>
                   <td class="td td-item border-r"></td>
                   <td class="td td-item text-right border-r"></td>
                   <td class="td td-item text-right border-r"></td>
                   <td class="td td-item border-r"></td>
                   <td class="td td-item text-center"></td>
                </tr>         
            }
         </tbody>
      </table>
      <table class="margin-t">
         <tbody>
            <tr class="border">
               <td class="td border-r" rowspan="2">
                  <div class="data padding-t-xs auto-font-size auto-link __col-remark">
                     <span>P.O.D REQUIRED WITH BILLING INVOICE<br>
                     PLEASE FAX PROOF OF DELIVERY TO 999-000-5555<br>
                     <br>
                     PLEASE FAX PROOF OF DELIVERY TO 999-000-5555<br>
                     15631563</span>
                  </div>
               </td>
               <td class="title col-padding-double">DESCRIPTION / INSTRUCTION</td>
            </tr>
            <tr class="border-r border-l border-b">
               <td class="border-b">
                  <div class="data padding-t-xs">
                     <div class=" auto-font-size __col-ins-des">
                        <span></span>
                     </div>
                     <div class="item-edit hover-toggle-icon-text-template">
                         @Html.Raw((Model.instruction_description ?? "").Replace(Environment.NewLine, "<br/>"))

                                    @{
                                        var table_rows2 = (Model.instruction_description ?? "").Replace(Environment.NewLine, "<br/>").Split(new string[] { "<br/>" }, StringSplitOptions.RemoveEmptyEntries).Length;

                                        if(table_rows2 < 6)
                                        {
                                            for (int i = 0; i < 6 - table_rows2; i++)
                                            {
                                                <br/>
                                            }
                                        }
                                    }
                     </div>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      <!-- Footer -->
      @if(!string.IsNullOrEmpty(Model.do_not_break_pallet))
      {
      <table class="margin-t">
         <tbody>
            <tr>
               <td class="w-40">
                  <div class="text-bold">
                     <div class="text-16">
                        &nbsp;DO NOT BREAK DOWN PALLET
                     </div>
                     <strong style="font-size:10px">You are requested to inform us immediately of any occurrence.
                     <br>Thank You for your service !</strong>
                  </div>
               </td>
               <td class="w-60 td text-right">
               </td>
            </tr>
         </tbody>
      </table>
      }
   </div>
</div>

    </div>
</div>
