@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.ViewModels.BankDraft.BankDraftIndexViewModel
@inject IStringLocalizer<FreightResource> L
@inject IAuthorizationService AuthorizationService
@{
    Layout = null;
}
<div style="display: flex;justify-content:center;">
    <div style="background-color:white;">
        <div>&nbsp;</div>
        <div style="display:inline-block;width:10px">&nbsp;</div>
        <div style="display:inline-block;">
            <table style="border-collapse:collapse;border-spacing:0;width:1200px">
	            <tbody>
		            <tr>
			            <td rowspan="16" style="border-style:solid;border-width:1px;width:30px">&nbsp;</td>
			            <td rowspan="16" style="border-style:solid;border-width:1px;width:10px">&nbsp;</td>
			            <td colspan="6" style="border-top:solid;border-right:solid;border-width:1px;">
                            <div style="height:10px;">&nbsp;</div>
                            <div style="display:inline-block;width:3px">&nbsp;</div>
                            <div style="width:520px;height:25px;border-bottom:1px solid black;display:inline-block;">
                                    <span style="font-size:26px;">U.S.$&nbsp;&nbsp;&nbsp;&nbsp;@Model.Amount</span>
                            </div>
                            <div style="display:inline-block;width:180px">&nbsp;</div>
                            <div style="display:inline-block;width:180px;text-align:right;font-size:26px;">Date&nbsp;</div>
                            <div style="width:200px;height:25px;border-bottom:1px solid black;display:inline-block;">
                                <span style="font-size:26px;padding: 0 10px;">
                                    &nbsp;@Model.Date
                                </span>
                            </div>
                        </td>
		            </tr>
                    <tr>
                        <td colspan="6" style="border-right:solid;border-width:1px;">
                            <div style="height:10px;">&nbsp;</div>
                            <div style="display:inline-block;width:3px">&nbsp;</div>
                            <div style="width:520px;height:25px;border-bottom:1px solid black;display:inline-block;">
                                <span style="font-size:26px;">
                                    @Model.AtSight
                                </span>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:26px;">of this</span>
                            <span style="font-size:26px;"><I>&nbsp;&nbsp;F&nbsp;&nbsp;I&nbsp;&nbsp;R&nbsp;&nbsp;S&nbsp;&nbsp;T&nbsp;&nbsp;</I></span>
                            <span style="font-size:26px;">of</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:26px;">Exchange(Second unpaid)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border-right:solid;border-width:1px;">
                            <div style="height:10px;">&nbsp;</div>
                            <div style="display:inline-block;width:3px">&nbsp;</div>
                            <div style="display:inline-block;font-size:26px;">
                                <span>Pay to the Order of</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                @Model.ShipperName
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border-right:solid;border-width:1px;">
                            <div style="height:10px;">&nbsp;</div>
                            <div style="display:inline-block;width:3px">&nbsp;</div>
                            <div style="width:98%;height:30px;border-bottom:1px solid black;display:inline-block;">
                                <div style="width:68%;text-align:left;display:inline-block;">
                                    @{
                                        switch (Model.Amount.Length)
                                        { 
                                            case 1 :
                                            case 2 :
                                            case 3 :
                                            case 4 :
                                                <span style="font-size:26px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 5 :
                                                <span style="font-size:24px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 6 :
                                                <span style="font-size:20px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 7 :
                                                <span style="font-size:18px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 8 :
                                                <span style="font-size:16px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 9 :
                                                <span style="font-size:14px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 10 :
                                                <span style="font-size:12px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 11 :
                                                <span style="font-size:11px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 12 :
                                            case 13 :
                                                <span style="font-size:10px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            default :
                                                <span style="font-size:26px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                        }
                                    }                                   
                                </div>
                                <div style="width:30%;text-align:right;display:inline-block;">
                                    <span style="font-size:26px;padding: 0 10px;">
                                        <strong>United States Dollars</strong>
                                    </span>
                                </div>
                            </div>
                            <div style="display:inline-block;width:3px">&nbsp;</div>
                        </td>
                    </tr>
		            <tr>
			            <td colspan="6" rowspan="12" style="border-bottom:solid;border-right:solid;border-width:1px;">
                            <div>
                                <div style="height:10px;">&nbsp;</div>                                
                                <div style="display:inline-block;font-size:26px;">
                                    @Model.DrawnDocCredit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div style="display:inline-block;width:80px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;">
                                    <span>DATE OF ISSUE</span>&nbsp;&nbsp;
                                    @Model.IssueDate
                                </div>
                            </div>
                            <div>
                                <div style="height:20px;">&nbsp;</div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;">
                                    @Model.LCIssueBank
                                </div>
                            </div>
                            <div>
                                <div style="height:20px;">&nbsp;</div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;">
                                    <span>for Value received and charge the same to account of</span>
                                </div>
                                <div style="display:inline-block;width:80px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;vertical-align:top;">
                                    @Model.ToTradePartnerName
                                </div>
                            </div>
                            <div>
                                <div style="height:8px;">&nbsp;</div>
                                <div style="display:inline-block;width:8px">&nbsp;</div>
                                <div style="display:inline-block;vertical-align:top;font-size:26px;">
                                    <span>TO</span>
                                </div>
                                <div style="display:inline-block;width:8px">&nbsp;</div>
                                <div style="display:inline-block;vertical-align:top;font-size:26px;">
                                    @Model.ToLCIssueBank
                                    <div style="height:100px;">&nbsp;</div>
                                    <div style="border-bottom:1px solid black;width:480px"></div>
                                </div>
                                <div style="display:inline-block;width:85px">&nbsp;</div>
                                <div style="display:inline-block;vertical-align:top;font-size:26px;">
                                    <div style="height:130px;">&nbsp;</div>
                                    <div style="border-bottom:1px solid black;width:480px"></div>
                                </div>
                            </div>
                            <div>
                                <div style="height:20px;">&nbsp;</div>
                                <div style="display:inline-block;width:8px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;">No.&nbsp;</div>
                                <div style="width:480px;height:25px;border-bottom:1px solid black;display:inline-block;">
                                    <span style="font-size:26px;">
                                        @Model.DraftNo
                                    </span>
                                </div>
                                <div style="display:inline-block;width:370px">&nbsp;</div>
                                <div style="text-align:right;display:inline-block;">
                                    <span style="font-size:22px;">
                                        <strong>Authorized Signature</strong>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div style="height:10px;">&nbsp;</div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <div style="display:inline-block;vertical-align:top;font-size:26px;">
                                    @Model.BankPreference
                                </div>
                                <div style="display:inline-block;width:630px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;">
                                    <div style="height:8px;">&nbsp;</div>
                                    @Model.ShipperName2
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                        </td>
		            </tr>
	            </tbody>
            </table>
            <center>
                <div style="width:1200px;height:7px;border-bottom:3px dashed black;text-align: center"></div>
            </center>
            <br />
            <div>
                <div style="display:inline-block;font-size:20px;">
                    <span>Gentlemen:</span>
                    @Model.GentlemenNameAddress
                </div>
                <div style="display:inline-block;width:560px">&nbsp;</div>
                <div style="display:inline-block;font-size:20px;">
                    <div style="width:480px;height:25px;border-bottom:1px solid black;display:inline-block;text-align:center;">
                        <div style="display:inline-block;width:5px">&nbsp;</div>
                        @Model.EncloseDate
                    </div>
                </div>
            </div>
            <div>
                <div style="display:inline-block;width:920px">&nbsp;</div>
                <div style="display:inline-block;vertical-align:top;font-size:20px;">
                    <span>Date</span>
                </div>
            </div>
            <div style="height:15px;">&nbsp;</div>
            <div>
                <div style="display:inline-block;vertical-align:top;font-size:20px;">
                    <div style="display:inline-block;text-align:center;font-size:20px;">
                        <span style="font-size:20px;">We enclose Draft Number</span>
                    </div>
                    <div style="display:inline-block;width:8px">&nbsp;</div>
                    <div style="display:inline-block;font-size:20px;">
                        <div style="width:200px;height:25px;border-bottom:1px solid black;display:inline-block;">
                            @Model.EncloseDraftNo
                        </div>                        
                    </div>
                    <div style="display:inline-block;font-size:20px;">
                        <span style="font-size:20px;">and documents listed below</span>
                    </div>
                </div>
                <div style="display:inline-block;width:50px">&nbsp;</div>
                <div style="display:inline-block;font-size:20px;">
                    @{
                        if (Model.EncloseForCollection == "on")
                        {
                                                <span>[X] for collection</span>
                        }
                        else 
                        {
                                                <span>[ ] for collection</span>
                        }
                                            <br />
                        if (Model.EncloseForOther == "on")
                        {
                                                <span>[X] for @Model.EncloseForOtherInput</span>
                        }
                        else
                        {
                                                <span>[ ] for @Model.EncloseForOtherInput</span>
                        }
                                            <br />
                        if (Model.EncloseForPayment == "on")
                        {
                                                <span>[X] for payment/negotiation under L/C</span>
                        }
                        else
                        {
                                                <span>[ ] for payment/negotiation under L/C</span>
                        }
                    }
                </div>
            </div>
            <br /><br />
            <table style="border-collapse:collapse;border-spacing:0;width:1200px;">
	            <tbody>
		            <tr style="text-align:center;">
			            <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">BILLS<br>OF LADING</span></td>
			            <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">B/L<br>COPY</span></td>
			            <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">COMM.<br>INV.</span></td>
			            <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">INS.<br>CTF.</span></td>
			            <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">CTF.<br>ORIG.</span></td>
			            <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">CONS.<br>INV.</span></td>
			            <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">PKNG.<br>LIST</span></td>
                        <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">WGT.<br>CTF.</span></td>
                        <td style="border-style:solid;border-width:1px;"><span style="font-size:20px">OTHER DOCUMENTS</span></td>
		            </tr>
		            <tr>
			            <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraBl
                        </td>
			            <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraBlCopy
                        </td>
			            <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraCommInv
                        </td>
			            <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraInsCtf
                        </td>
			            <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraCtfOrig
                        </td>
			            <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraConsInv
                        </td>
			            <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraPkngList
                        </td>
			            <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraWgtCtf
                        </td>
                        <td style="border-style:solid;border-width:1px;"><span style="font-size:20px">EXTRA SET OF COPIES FOR BANK FILE</span></td>
		            </tr>
	            </tbody>
            </table>
            <div style="height:8px;">&nbsp;</div>
            <table style="border-collapse:collapse;border-spacing:0;width:1200px;">
	            <tbody>
                    <tr>
			            <td colspan="2" style="border-left:solid;border-right:solid;border-width:1px;text-align:center;">
                            <div><span style="font-size:20px">Please handle in accordance with instructions marked "X"</span></div>                           
                        </td>
		            </tr>
		            <tr>
			            <td style="border-left:solid;border-right:solid;border-bottom:solid;border-width:1px;width:53%;">
                            <div>
                                @{
                                    if (Model.DeliverInOneMailing == "on")
                                    {
                                                    <span style="font-size:20px">[X] Deliver all documents in one mailing.</span>
                                    }
                                    else
                                    {
                                                    <span style="font-size:20px">[ ] Deliver all documents in one mailing.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.DeliverInTwoMailing == "on")
                                    {
                                                    <span style="font-size:20px">[X] Deliver documents in two mailing.</span>
                                    }
                                    else
                                    {
                                                    <span style="font-size:20px">[ ] Deliver documents in two mailing.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.DeliverIfDraft == "on")
                                    {
                                                    <span style="font-size:20px">[X] Deliver documents against payment if sight draft, or acceptance<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if time draft.</span>
                                    }
                                    else
                                    {
                                                    <span style="font-size:20px">[ ] Deliver documents against payment if sight draft, or acceptance<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if time draft.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.AllChargesForAccount == "on")
                                    {
                                                    <span style="font-size:20px">[X] All charges for account of drawee.</span>
                                    }
                                    else
                                    {
                                                    <span style="font-size:20px">[ ] All charges for account of drawee.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.DoNotWaiveCharges == "on")
                                    {
                                                    <span style="font-size:20px">[X] Do not waive charges.</span>
                                    }
                                    else
                                    {
                                                    <span style="font-size:20px">[ ] Do not waive charges.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.ProtestForNonPayment == "on")
                                    {
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px">[X] Protest for</span>
                                                            </div>
                                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px"><u>non-payment</u><br />non-acceptance</span>
                                                            </div>
                                    }
                                    else
                                    {
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px">[ ] Protest for</span>
                                                            </div>
                                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px"><u>non-payment</u><br />non-acceptance</span>
                                                            </div>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.DoNotProtest == "on")
                                    {
                                                    <span style="font-size:20px">[X] Do not protest.</span>
                                    }
                                    else
                                    {
                                                    <span style="font-size:20px">[ ] Do not protest.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.PresentOnArrival == "on")
                                    {
                                                    <span style="font-size:20px">[X] Present on arrival of goods.</span>
                                    }
                                    else
                                    {
                                                    <span style="font-size:20px">[ ] Present on arrival of goods.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.AdviseNonPaymentBy == "on")
                                    {
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px">[X] Advise</span>
                                                            </div>
                                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px"><u>non-payment</u><br />non-acceptance</span>
                                                            </div>
                                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                                            <div style="display:inline-block;">
                                                                <span style="font-size:20px">By</span>
                                                            </div>
                                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px"><u>air mail</u><br />cable</span>
                                                            </div>
                                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                                            <div style="display:inline-block;">
                                                                <span style="font-size:20px">giving reasons</span>
                                                            </div>
                                    }
                                    else
                                    {
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px">[ ] Advise</span>
                                                            </div>
                                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px"><u>non-payment</u><br />non-acceptance</span>
                                                            </div>
                                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                                            <div style="display:inline-block;">
                                                                <span style="font-size:20px">By</span>
                                                            </div>
                                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px"><u>air mail</u><br />cable</span>
                                                            </div>
                                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                                            <div style="display:inline-block;">
                                                                <span style="font-size:20px">giving reasons</span>
                                                            </div>
                                    }
                                }                                
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.AdvisePaymentBy == "on")
                                    {
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px">[X] Advise</span>
                                                            </div>
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px">Advise</span>
                                                            </div>
                                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px"><u>payment</u><br />acceptance</span>
                                                            </div>
                                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                                            <div style="display:inline-block;">
                                                                <span style="font-size:20px">By</span>
                                                            </div>
                                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px"><u>air mail</u><br />cable</span>
                                                            </div>
                                    }
                                    else
                                    {
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px">[ ] Advise</span>
                                                            </div>
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px">Advise</span>
                                                            </div>
                                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                                            <div style="display:inline-block">
                                                                <span style="font-size:20px"><u>payment</u><br />acceptance</span>
                                                            </div>
                                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                                            <div style="display:inline-block;">
                                                                <span style="font-size:20px">By</span>
                                                            </div>
                                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                                            <div style="display:inline-block">
                                                        <span style="font-size:20px"><u>air mail</u><br />cable</span>
                                                            </div>
                                    }
                                }                                
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                        </td>
			            <td style="border-left:solid;border-right:solid;border-bottom:solid;border-width:1px;width:47%;" valign="top">
                            <div style="height:70px;">&nbsp;</div>
                            <div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <span style="font-size:20px">IN CASE OF NEED refer to:</span>
                            </div>
                            <div style="height:10px;">&nbsp;</div>
                            <div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <span style="font-size:20px">Name</span>
                                <div style="display:inline-block;width:15px">&nbsp;</div>
                                <div style="width:294px;height:25px;border-bottom:1px solid black;display:inline-block;">
                                    @Model.ReferToName
                                </div>                        
                            </div>
                            <div style="height:10px;">&nbsp;</div>
                            <div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <div style="display:inline-block;"><span style="font-size:20px">Address</span></div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <div style="width:294px;height:45px;border-bottom:1px solid black;display:inline-block;">
                                    @Model.ReferToAddress
                                </div>                        
                            </div>
                            <div style="height:25px;">&nbsp;</div>
                            <div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <span style="font-size:20px">who is empower by us:</span>
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>         
                                <div style="display:inline-block;width:30px">&nbsp;</div>
                                @{
                                    if (Model.ToActFullyOnOurBehalf == "on")
                                    {
                                                            <div style="display:inline-block;"><span style="font-size:20px">a [X]</span></div>
                                                            <div style="display:inline-block;"><span style="font-size:20px">To act fully on our behalf, i.e., authorize reductions,</span></div>
                                                            <div style="display:inline-block;"><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extensions, free delivery waiving of protest, etc.</span></div>
                                    }
                                    else
                                    {
                                                            <div style="display:inline-block;"><span style="font-size:20px">a [ ]</span></div>
                                                            <div style="display:inline-block;"><span style="font-size:20px">To act fully on our behalf, i.e., authorize reductions,</span></div>
                                                            <div style="display:inline-block;"><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extensions, free delivery waiving of protest, etc.</span></div>
                                    }
                                }
                            </div>
                            <div>         
                                <div style="display:inline-block;width:30px">&nbsp;</div>
                                @{
                                    if (Model.ToAssistNotToAlter == "on")
                                    {
                                                            <div style="display:inline-block;"><span style="font-size:20px">b [X]</span></div>
                                                            <div style="display:inline-block;"><span style="font-size:20px">To assist in obtaining acceptance or payment of </span></div>
                                                            <div style="display:inline-block;"><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;draft,as drawn, but not to alter its terms in any way.</span></div>
                                    }
                                    else
                                    {
                                                    <div style="display:inline-block;"><span style="font-size:20px">b [ ]</span></div>
                                                            <div style="display:inline-block;"><span style="font-size:20px">To assist in obtaining acceptance or payment of </span></div>
                                                    <div style="display:inline-block;"><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;draft,as drawn, but not to alter its terms in any way.</span></div>
                                    }
                                }
                            </div>
                        </td>
		            </tr>
		            <tr>
                        <td colspan="2" style="border-style:solid;border-width:1px;font-size:20px">
                            <div><span style="font-size:20px">OTHER INSTRUCTIONS :</span></div>
                            @Model.OtherInstructions
                            <br /><br />
                        </td>
		            </tr>
	            </tbody>
            </table>
            <br />
            <div><span style="font-size:20px;">Please refer all questions conceming this collection to:</span></div>
            <br />
            <div style="display:inline-block;font-size:24px;">
                @{
                    if (Model.ReferQuestionTo == "SHIPPER")
                    {
                                            <span>[X] Shipper</span><br />
                                            <span>[ ] Freight Forwarder.</span>
                    }
                    else
                    {
                                    <span>[ ] Shipper</span>

                                    <br />
                                            <span>[X] Freight Forwarder.</span>
                    }
                }
                <div style="height:10px;">&nbsp;</div>
                <div style="display:inline-block;width:15px;">&nbsp;</div>
                <div style="width:350px;height:25px;border-bottom:1px solid black;display:inline-block;font-size:20px">
                    @Model.ReferQuestionName
                </div>
                <div style="height:10px;">&nbsp;</div>
                <div style="display:inline-block;width:15px;">&nbsp;</div>
                <div style="width:350px;height:25px;border-bottom:1px solid black;display:inline-block;font-size:20px">
                    @Model.ReferQuestionPhone
                </div>
            </div>
            <div style="display:inline-block;vertical-align:top;">
                <div style="height:10px;">&nbsp;</div>
                <div style="display:inline-block;width:300px;">&nbsp;</div>
                <div style="width:500px;height:25px;border-bottom:1px solid black;display:inline-block;font-size:20px">
                    @Model.ShipperName3
                </div>
                <div style="height:30px;">&nbsp;</div>
                <div style="display:inline-block;width:300px;">&nbsp;</div>
                <div style="width:500px;height:25px;border-bottom:1px solid black;display:inline-block;font-size:20px">
                    @Model.AuthorizedSignatureInput
                    <div style="display:inline-block;width:240px;">&nbsp;</div>
                    <span style="font-size:20px;">
                        <strong>Authorized Signature</strong>
                    </span>
                </div>
                <div style="height:10px;">&nbsp;</div>
                <div style="display:inline-block;width:300px;">&nbsp;</div>
                <div style="display:inline-block;">
                    @Model.UserCompany
                </div>
            </div>
            <br /><br /><br />
            <div><span style="font-size:26px">FORM B-2 - C</span></div>
        </div>
    </div>
    <div style="page-break-before:always">&nbsp;</div> @*換頁*@
    <div style="background-color:white;">
        <div>&nbsp;</div>
        <div style="display:inline-block;width:10px">&nbsp;</div>
        <div style="display:inline-block;">
            <table style="border-collapse:collapse;border-spacing:0;width:1200px">
                <tbody>
                    <tr>
                        <td rowspan="16" style="border-style:solid;border-width:1px;width:30px">&nbsp;</td>
                        <td rowspan="16" style="border-style:solid;border-width:1px;width:10px">&nbsp;</td>
                        <td colspan="6" style="border-top:solid;border-right:solid;border-width:1px;">
                            <div style="height:10px;">&nbsp;</div>
                            <div style="display:inline-block;width:3px">&nbsp;</div>
                            <div style="width:520px;height:25px;border-bottom:1px solid black;display:inline-block;">
                                <span style="font-size:26px;">U.S.$&nbsp;&nbsp;&nbsp;&nbsp;@Model.Amount</span>
                            </div>
                            <div style="display:inline-block;width:180px">&nbsp;</div>
                            <div style="display:inline-block;width:180px;text-align:right;font-size:26px;">Date&nbsp;</div>
                            <div style="width:200px;height:25px;border-bottom:1px solid black;display:inline-block;">
                                <span style="font-size:26px;padding: 0 10px;">
                                    &nbsp;@Model.Date
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border-right:solid;border-width:1px;">
                            <div style="height:10px;">&nbsp;</div>
                            <div style="display:inline-block;width:3px">&nbsp;</div>
                            <div style="width:520px;height:25px;border-bottom:1px solid black;display:inline-block;">
                                <span style="font-size:26px;">
                                    @Model.AtSight
                                </span>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:26px;">of this</span>
                            <span style="font-size:26px;"><I>&nbsp;&nbsp;S&nbsp;&nbsp;E&nbsp;&nbsp;C&nbsp;&nbsp;O&nbsp;&nbsp;N&nbsp;&nbsp;D&nbsp;&nbsp;</I></span>
                            <span style="font-size:26px;">of</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:26px;">Exchange(Second unpaid)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border-right:solid;border-width:1px;">
                            <div style="height:10px;">&nbsp;</div>
                            <div style="display:inline-block;width:3px">&nbsp;</div>
                            <div style="display:inline-block;font-size:26px;">
                                <span>Pay to the Order of</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                @Model.ShipperName
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border-right:solid;border-width:1px;">
                            <div style="height:10px;">&nbsp;</div>
                            <div style="display:inline-block;width:3px">&nbsp;</div>
                            <div style="width:98%;height:30px;border-bottom:1px solid black;display:inline-block;">
                                <div style="width:68%;text-align:left;display:inline-block;">
                                    @{
                                        switch (Model.Amount.Length)
                                        { 
                                            case 1 :
                                            case 2 :
                                            case 3 :
                                            case 4 :
                                                <span style="font-size:26px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 5 :
                                                <span style="font-size:24px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 6 :
                                                <span style="font-size:20px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 7 :
                                                <span style="font-size:18px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 8 :
                                                <span style="font-size:16px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 9 :
                                                <span style="font-size:14px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 10 :
                                                <span style="font-size:12px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 11 :
                                                <span style="font-size:11px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            case 12 :
                                            case 13 :
                                                <span style="font-size:10px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                            default :
                                                <span style="font-size:26px;padding: 0 10px;">
                                                    <strong>@Model.AmountToString</strong>
                                                </span>
                                                break;
                                        }
                                    }                                   
                                </div>
                                <div style="width:30%;text-align:right;display:inline-block;">
                                    <span style="font-size:26px;padding: 0 10px;">
                                        <strong>United States Dollars</strong>
                                    </span>
                                </div>
                            </div>
                            <div style="display:inline-block;width:3px">&nbsp;</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" rowspan="12" style="border-bottom:solid;border-right:solid;border-width:1px;">
                            <div>
                                <div style="height:10px;">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;">
                                    @Model.DrawnDocCredit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div style="display:inline-block;width:80px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;">
                                    <span>DATE OF ISSUE</span>&nbsp;&nbsp;
                                    @Model.IssueDate
                                </div>
                            </div>
                            <div>
                                <div style="height:20px;">&nbsp;</div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;">
                                    @Model.LCIssueBank
                                </div>
                            </div>
                            <div>
                                <div style="height:20px;">&nbsp;</div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;">
                                    <span>for Value received and charge the same to account of</span>
                                </div>
                                <div style="display:inline-block;width:80px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;vertical-align:top;">
                                    @Model.ToTradePartnerName
                                </div>
                            </div>
                            <div>
                                <div style="height:8px;">&nbsp;</div>
                                <div style="display:inline-block;width:8px">&nbsp;</div>
                                <div style="display:inline-block;vertical-align:top;font-size:26px;">
                                    <span>TO</span>
                                </div>
                                <div style="display:inline-block;width:8px">&nbsp;</div>
                                <div style="display:inline-block;vertical-align:top;font-size:26px;">
                                    @Model.ToLCIssueBank
                                    <div style="height:100px;">&nbsp;</div>
                                    <div style="border-bottom:1px solid black;width:480px"></div>
                                </div>
                                <div style="display:inline-block;width:85px">&nbsp;</div>
                                <div style="display:inline-block;vertical-align:top;font-size:26px;">
                                    <div style="height:130px;">&nbsp;</div>
                                    <div style="border-bottom:1px solid black;width:480px"></div>
                                </div>
                            </div>
                            <div>
                                <div style="height:20px;">&nbsp;</div>
                                <div style="display:inline-block;width:8px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;">No.&nbsp;</div>
                                <div style="width:480px;height:25px;border-bottom:1px solid black;display:inline-block;">
                                    <span style="font-size:26px;">
                                        @Model.DraftNo
                                    </span>
                                </div>
                                <div style="display:inline-block;width:370px">&nbsp;</div>
                                <div style="text-align:right;display:inline-block;">
                                    <span style="font-size:22px;">
                                        <strong>Authorized Signature</strong>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div style="height:10px;">&nbsp;</div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <div style="display:inline-block;vertical-align:top;font-size:26px;">
                                    @Model.BankPreference
                                </div>
                                <div style="display:inline-block;width:630px">&nbsp;</div>
                                <div style="display:inline-block;font-size:26px;">
                                    <div style="height:8px;">&nbsp;</div>
                                    @Model.ShipperName2
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <center>
                <div style="width:1200px;height:7px;border-bottom:3px dashed black;text-align: center"></div>
            </center>
            <br />
            <div>
                <div style="display:inline-block;font-size:20px;">
                    <span>Gentlemen:</span>
                    @Model.GentlemenNameAddress
                </div>
                <div style="display:inline-block;width:560px">&nbsp;</div>
                <div style="display:inline-block;font-size:20px;">
                    <div style="width:480px;height:25px;border-bottom:1px solid black;display:inline-block;text-align:center;">
                        <div style="display:inline-block;width:5px">&nbsp;</div>
                        @Model.EncloseDate
                    </div>
                </div>
            </div>
            <div>
                <div style="display:inline-block;width:920px">&nbsp;</div>
                <div style="display:inline-block;vertical-align:top;font-size:20px;">
                    <span>Date</span>
                </div>
            </div>
            <div style="height:15px;">&nbsp;</div>
            <div>
                <div style="display:inline-block;vertical-align:top;font-size:20px;">
                    <div style="display:inline-block;text-align:center;font-size:20px;">
                        <span style="font-size:20px;">We enclose Draft Number</span>
                    </div>
                    <div style="display:inline-block;width:8px">&nbsp;</div>
                    <div style="display:inline-block;font-size:20px;">
                        <div style="width:200px;height:25px;border-bottom:1px solid black;display:inline-block;">
                            @Model.EncloseDraftNo
                        </div>
                    </div>
                    <div style="display:inline-block;font-size:20px;">
                        <span style="font-size:20px;">and documents listed below</span>
                    </div>
                </div>
                <div style="display:inline-block;width:50px">&nbsp;</div>
                <div style="display:inline-block;font-size:20px;">
                    @{
                        if (Model.EncloseForCollection == "on")
                        {
                                <span>[X] for collection</span>
                        }
                        else
                        {
                                <span>[ ] for collection</span>
                        }
                            <br />
                        if (Model.EncloseForOther == "on")
                        {
                                <span>[X] for @Model.EncloseForOtherInput</span>
                        }
                        else
                        {
                                <span>[ ] for @Model.EncloseForOtherInput</span>
                        }
                            <br />
                        if (Model.EncloseForPayment == "on")
                        {
                                <span>[X] for payment/negotiation under L/C</span>
                        }
                        else
                        {
                                <span>[ ] for payment/negotiation under L/C</span>
                        }
                    }
                </div>
            </div>
            <br /><br />
            <table style="border-collapse:collapse;border-spacing:0;width:1200px;">
                <tbody>
                    <tr style="text-align:center;">
                        <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">BILLS<br>OF LADING</span></td>
                        <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">B/L<br>COPY</span></td>
                        <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">COMM.<br>INV.</span></td>
                        <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">INS.<br>CTF.</span></td>
                        <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">CTF.<br>ORIG.</span></td>
                        <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">CONS.<br>INV.</span></td>
                        <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">PKNG.<br>LIST</span></td>
                        <td style="border-style:solid;border-width:1px;width:110px;"><span style="font-size:20px">WGT.<br>CTF.</span></td>
                        <td style="border-style:solid;border-width:1px;"><span style="font-size:20px">OTHER DOCUMENTS</span></td>
                    </tr>
                    <tr>
                        <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraBl
                        </td>
                        <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraBlCopy
                        </td>
                        <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraCommInv
                        </td>
                        <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraInsCtf
                        </td>
                        <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraCtfOrig
                        </td>
                        <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraConsInv
                        </td>
                        <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraPkngList
                        </td>
                        <td style="border-style:solid;border-width:1px;text-align:center;">
                            @Model.ExtraWgtCtf
                        </td>
                        <td style="border-style:solid;border-width:1px;"><span style="font-size:20px">EXTRA SET OF COPIES FOR BANK FILE</span></td>
                    </tr>
                </tbody>
            </table>
            <div style="height:8px;">&nbsp;</div>
            <table style="border-collapse:collapse;border-spacing:0;width:1200px;">
                <tbody>
                    <tr>
                        <td colspan="2" style="border-left:solid;border-right:solid;border-width:1px;text-align:center;">
                            <div><span style="font-size:20px">Please handle in accordance with instructions marked "X"</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-left:solid;border-right:solid;border-bottom:solid;border-width:1px;width:53%;">
                            <div>
                                @{
                                    if (Model.DeliverInOneMailing == "on")
                                    {
                                            <span style="font-size:20px">[X] Deliver all documents in one mailing.</span>
                                    }
                                    else
                                    {
                                            <span style="font-size:20px">[ ] Deliver all documents in one mailing.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.DeliverInTwoMailing == "on")
                                    {
                                            <span style="font-size:20px">[X] Deliver documents in two mailing.</span>
                                    }
                                    else
                                    {
                                            <span style="font-size:20px">[ ] Deliver documents in two mailing.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.DeliverIfDraft == "on")
                                    {
                                            <span style="font-size:20px">[X] Deliver documents against payment if sight draft, or acceptance<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if time draft.</span>
                                    }
                                    else
                                    {
                                            <span style="font-size:20px">[ ] Deliver documents against payment if sight draft, or acceptance<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if time draft.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.AllChargesForAccount == "on")
                                    {
                                            <span style="font-size:20px">[X] All charges for account of drawee.</span>
                                    }
                                    else
                                    {
                                            <span style="font-size:20px">[ ] All charges for account of drawee.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.DoNotWaiveCharges == "on")
                                    {
                                            <span style="font-size:20px">[X] Do not waive charges.</span>
                                    }
                                    else
                                    {
                                            <span style="font-size:20px">[ ] Do not waive charges.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.ProtestForNonPayment == "on")
                                    {
                                            <div style="display:inline-block">
                                                <span style="font-size:20px">[X] Protest for</span>
                                            </div>
                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px"><u>non-payment</u><br />non-acceptance</span>
                                            </div>
                                    }
                                    else
                                    {
                                            <div style="display:inline-block">
                                                <span style="font-size:20px">[ ] Protest for</span>
                                            </div>
                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px"><u>non-payment</u><br />non-acceptance</span>
                                            </div>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.DoNotProtest == "on")
                                    {
                                            <span style="font-size:20px">[X] Do not protest.</span>
                                    }
                                    else
                                    {
                                            <span style="font-size:20px">[ ] Do not protest.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.PresentOnArrival == "on")
                                    {
                                            <span style="font-size:20px">[X] Present on arrival of goods.</span>
                                    }
                                    else
                                    {
                                            <span style="font-size:20px">[ ] Present on arrival of goods.</span>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.AdviseNonPaymentBy == "on")
                                    {
                                            <div style="display:inline-block">
                                                <span style="font-size:20px">[X] Advise</span>
                                            </div>
                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px"><u>non-payment</u><br />non-acceptance</span>
                                            </div>
                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                            <div style="display:inline-block;">
                                                <span style="font-size:20px">By</span>
                                            </div>
                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px"><u>air mail</u><br />cable</span>
                                            </div>
                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                            <div style="display:inline-block;">
                                                <span style="font-size:20px">giving reasons</span>
                                            </div>
                                    }
                                    else
                                    {
                                            <div style="display:inline-block">
                                                <span style="font-size:20px">[ ] Advise</span>
                                            </div>
                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px"><u>non-payment</u><br />non-acceptance</span>
                                            </div>
                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                            <div style="display:inline-block;">
                                                <span style="font-size:20px">By</span>
                                            </div>
                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px"><u>air mail</u><br />cable</span>
                                            </div>
                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                            <div style="display:inline-block;">
                                                <span style="font-size:20px">giving reasons</span>
                                            </div>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                @{
                                    if (Model.AdvisePaymentBy == "on")
                                    {
                                            <div style="display:inline-block">
                                                <span style="font-size:20px">[X] Advise</span>
                                            </div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px">Advise</span>
                                            </div>
                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px"><u>payment</u><br />acceptance</span>
                                            </div>
                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                            <div style="display:inline-block;">
                                                <span style="font-size:20px">By</span>
                                            </div>
                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px"><u>air mail</u><br />cable</span>
                                            </div>
                                    }
                                    else
                                    {
                                            <div style="display:inline-block">
                                                <span style="font-size:20px">[ ] Advise</span>
                                            </div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px">Advise</span>
                                            </div>
                                            <div style="display:inline-block;width:30px">&nbsp;</div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px"><u>payment</u><br />acceptance</span>
                                            </div>
                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                            <div style="display:inline-block;">
                                                <span style="font-size:20px">By</span>
                                            </div>
                                            <div style="display:inline-block;width:10px">&nbsp;</div>
                                            <div style="display:inline-block">
                                                <span style="font-size:20px"><u>air mail</u><br />cable</span>
                                            </div>
                                    }
                                }
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                        </td>
                        <td style="border-left:solid;border-right:solid;border-bottom:solid;border-width:1px;width:47%;" valign="top">
                            <div style="height:70px;">&nbsp;</div>
                            <div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <span style="font-size:20px">IN CASE OF NEED refer to:</span>
                            </div>
                            <div style="height:10px;">&nbsp;</div>
                            <div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <span style="font-size:20px">Name</span>
                                <div style="display:inline-block;width:15px">&nbsp;</div>
                                <div style="width:294px;height:25px;border-bottom:1px solid black;display:inline-block;">
                                    @Model.ReferToName
                                </div>
                            </div>
                            <div style="height:10px;">&nbsp;</div>
                            <div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <div style="display:inline-block;"><span style="font-size:20px">Address</span></div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <div style="width:294px;height:45px;border-bottom:1px solid black;display:inline-block;">
                                    @Model.ReferToAddress
                                </div>
                            </div>
                            <div style="height:25px;">&nbsp;</div>
                            <div>
                                <div style="display:inline-block;width:3px">&nbsp;</div>
                                <span style="font-size:20px">who is empower by us:</span>
                            </div>
                            <div style="height:8px;">&nbsp;</div>
                            <div>
                                <div style="display:inline-block;width:30px">&nbsp;</div>
                                @{
                                    if (Model.ToActFullyOnOurBehalf == "on")
                                    {
                                            <div style="display:inline-block;"><span style="font-size:20px">a [X]</span></div>
                                            <div style="display:inline-block;"><span style="font-size:20px">To act fully on our behalf, i.e., authorize reductions,</span></div>
                                            <div style="display:inline-block;"><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extensions, free delivery waiving of protest, etc.</span></div>
                                    }
                                    else
                                    {
                                            <div style="display:inline-block;"><span style="font-size:20px">a [ ]</span></div>
                                            <div style="display:inline-block;"><span style="font-size:20px">To act fully on our behalf, i.e., authorize reductions,</span></div>
                                            <div style="display:inline-block;"><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extensions, free delivery waiving of protest, etc.</span></div>
                                    }
                                }
                            </div>
                            <div>
                                <div style="display:inline-block;width:30px">&nbsp;</div>
                                @{
                                    if (Model.ToAssistNotToAlter == "on")
                                    {
                                            <div style="display:inline-block;"><span style="font-size:20px">b [X]</span></div>
                                            <div style="display:inline-block;"><span style="font-size:20px">To assist in obtaining acceptance or payment of </span></div>
                                            <div style="display:inline-block;"><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;draft,as drawn, but not to alter its terms in any way.</span></div>
                                    }
                                    else
                                    {
                                            <div style="display:inline-block;"><span style="font-size:20px">b [ ]</span></div>
                                            <div style="display:inline-block;"><span style="font-size:20px">To assist in obtaining acceptance or payment of </span></div>
                                            <div style="display:inline-block;"><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;draft,as drawn, but not to alter its terms in any way.</span></div>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border-style:solid;border-width:1px;font-size:20px">
                            <div><span style="font-size:20px">OTHER INSTRUCTIONS :</span></div>
                            @Model.OtherInstructions
                            <br /><br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div><span style="font-size:20px;">Please refer all questions conceming this collection to:</span></div>
            <br />
            <div style="display:inline-block;font-size:24px;">
                @{
                    if (Model.ReferQuestionTo == "SHIPPER")
                    {
                            <span>[X] Shipper</span>

                            <br />
                            <span>[ ] Freight Forwarder.</span>
                    }
                    else
                    {
                            <span>[ ] Shipper</span>

                            <br />
                            <span>[X] Freight Forwarder.</span>
                    }
                }
                <div style="height:10px;">&nbsp;</div>
                <div style="display:inline-block;width:15px;">&nbsp;</div>
                <div style="width:350px;height:25px;border-bottom:1px solid black;display:inline-block;font-size:20px">
                    @Model.ReferQuestionName
                </div>
                <div style="height:10px;">&nbsp;</div>
                <div style="display:inline-block;width:15px;">&nbsp;</div>
                <div style="width:350px;height:25px;border-bottom:1px solid black;display:inline-block;font-size:20px">
                    @Model.ReferQuestionPhone
                </div>
            </div>
            <div style="display:inline-block;vertical-align:top;">
                <div style="height:10px;">&nbsp;</div>
                <div style="display:inline-block;width:300px;">&nbsp;</div>
                <div style="width:500px;height:25px;border-bottom:1px solid black;display:inline-block;font-size:20px">
                    @Model.ShipperName3
                </div>
                <div style="height:30px;">&nbsp;</div>
                <div style="display:inline-block;width:300px;">&nbsp;</div>
                <div style="width:500px;height:25px;border-bottom:1px solid black;display:inline-block;font-size:20px">
                    @Model.AuthorizedSignatureInput
                    <div style="display:inline-block;width:240px;">&nbsp;</div>
                    <span style="font-size:20px;">
                        <strong>Authorized Signature</strong>
                    </span>
                </div>
                <div style="height:10px;">&nbsp;</div>
                <div style="display:inline-block;width:300px;">&nbsp;</div>
                <div style="display:inline-block;">
                    @Model.UserCompany
                </div>
            </div>
            <br /><br /><br />
            <div><span style="font-size:26px">FORM B-2 - C</span></div>
        </div>
    </div>
</div>