@using Dolphin.Freight.AirExports;
@using Dolphin.Freight.Localization;
@using Dolphin.Freight.Web.Pages.Shared.Memos;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@using Volo.Abp.Account.Localization
@model Dolphin.Freight.Web.ViewModels.ImportExport.HawbHblViewModel
@inject IStringLocalizer<FreightResource> L
@section scripts
    {
    <script type="text/javascript">
        function gotoInvoice(MawbId, HawbId, InvoiceType) {

            location.href = '/Accounting/Invoice?MethodType=2&MawbId=' + MawbId + '&HawbId=' + HawbId + "&InvoiceType=" + InvoiceType;
        }
    </script>
    }
<abp-card class="card board-item" id="hblCard">
    <abp-card-header id="hblCardHeader" style="background:#555555;color:white;">

        <abp-card-title>
            HAWB
            <span id="title0">@Model.AirImportHawbDto.HawbNo </span>
        </abp-card-title>

        <div class="btn-group dropdown">
            <button class="btn btn-secondary dropdown-toggle" style="position: relative;" type="button" id="ActionDrop" data-bs-toggle="dropdown">
                @L["Display:Function"]
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton1" id="ActionDrop">
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-lock"></i> @L["Btn:Lock"]
                </a>
                <p class="dropdown-divider"></p>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Arrival Notice"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Authority (ATME)"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Delivery Order"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["I.T/T.E"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Release Order"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Preliminary Claim"]
                </a>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Carrier Certificate"]
                </a>
                <p class="dropdown-divider"></p>
                <a class='dropdown-item' href='#'>
                    <i class="fa fa-file-text-o"></i> @L["Btn:Profit Report"]
                </a>
                <p class="dropdown-divider"></p>
                <a class='dropdown-item' href='#' style="color: #4B77BE; font-weight: 500;">
                    <i class="fa fa-location-arrow"></i> @L["Btn:Tracking"]
                </a>
            </div>
        </div>

        <button type="button" class="btn btn-collapse" data-bs-toggle="collapse" data-bs-target="#hblDiv" aria-expanded="true" aria-controls="hblDiv">
        </button>

    </abp-card-header>
    <abp-card-body class="collapse show" id="hblDiv">

        <abp-row>

            <abp-column size-md="_12">
                <div>
                    <abp-button class="btn btn-info me-md-2" style="color:#FFFFFF;" type="button" onclick="gotoInvoice('@Model.AirImportHawbDto.MawbId','@Model.AirImportHawbDto.Id',0)">@L["Add AR"]</abp-button>
                    <abp-button class="btn btn-info me-md-2" style="color:#FFFFFF;" type="button" onclick="gotoInvoice('@Model.AirImportHawbDto.MawbId','@Model.AirImportHawbDto.Id,1)">@L["Add DC"]</abp-button>
                    <abp-button class="btn btn-info me-md-2" style="color:#FFFFFF;" type="button" onclick="gotoInvoice('@Model.AirImportHawbDto.MawbId','@Model.AirImportHawbDto.Id,2)">@L["Add AP"]</abp-button>
                </div>
                <table width="100%" class="table table-bordered" style="border-color:#333333;padding-left:2px;margin:2px;font-size:0.5em;">
                    <tr border="1">
                        <th width="15%"></th>
                        <th width=" 10%">@L["Display:InvoiceNo"]</th>
                        <th width=" 15%">@L["Display:To"]</th>
                        <th width="10%">@L["RevenueName"]</th>
                        <th width="10%">@L["CostId"]</th>
                        <th width="10%">@L["Display:Balance"]</th>
                        <th width="5%">@L["Display:Status"]</th>
                        <th width="10%">@L["PostDate"]</th>
                        <th width="10%">@L["Display:InvoiceDate"]</th>
                        <th width="5%">@L["Display:Function"]</th>
                    </tr>
                    @if (Model.m0invoiceDtos != null && Model.m0invoiceDtos.Count > 0)
                    {
                        var i = 0;
                        foreach (var dto in Model.m0invoiceDtos)
                        {
                            if (i == 0)
                            {
                                i++;
                                <tr>
                                    <td style="background-color:#555555;color:#ffffff;text-align:center;" rowspan="@Model.m0invoiceDtos.Count">@L["Menu:AccountingAR"]</td>
                                    <td><a href="/Accounting/Invoice?MethodType=2&Mid=@Model.Id&Hid=&InvoiceType=0&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                    <td>@dto.InvoiceCompanyName</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td>0.00</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><a href="/Accounting/Invoice?MethodType=2&Mid=@Model.Id&Hid=&InvoiceType=0&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                    <td>@dto.InvoiceCompanyName</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td>0.00</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }

                        }
                    }
                    @if (Model.m1invoiceDtos != null && Model.m1invoiceDtos.Count > 0)
                    {
                        var i = 0;
                        foreach (var dto in Model.m1invoiceDtos)
                        {
                            if (i == 0)
                            {
                                i++;
                                <tr>
                                    <td style="background-color:#555555;color:#ffffff;text-align:center;" rowspan="@Model.m1invoiceDtos.Count">@L["Menu:AccountingDC"]</td>
                                    <td><a href="/Accounting/Invoice?MethodType=2&Mid=@Model.Id&Hid=&InvoiceType=1&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                    <td>@dto.InvoiceCompanyName</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td>0.00</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><a href="/Accounting/Invoice?MethodType=2&Mid=@Model.Id&Hid=&InvoiceType=1&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                    <td>@dto.InvoiceCompanyName</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td>0.00</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }

                        }
                    }
                    @if (Model.m2invoiceDtos != null && Model.m2invoiceDtos.Count > 0)
                    {
                        var i = 0;
                        foreach (var dto in Model.m2invoiceDtos)
                        {
                            if (i == 0)
                            {
                                i++;
                                <tr>
                                    <td style="background-color:#555555;color:#ffffff;text-align:center;" rowspan="@Model.m2invoiceDtos.Count">@L["Menu:AccountingAP"]</td>
                                    <td><a href="/Accounting/Invoice?MethodType=2&Mid=@Model.Id&Hid=&InvoiceType=2&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                    <td>@dto.InvoiceCompanyName</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td>0.00</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><a href="/Accounting/Invoice?MethodType=2&Mid=@Model.Id&Hid=&InvoiceType=2&InvoiceId=@dto.Id">@dto.InvoiceNo</a></td>
                                    <td>@dto.InvoiceCompanyName</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td>0.00</td>
                                    <td>@dto.OutstandingAmount</td>
                                    <td></td>
                                    <td>@dto.PostDate</td>
                                    <td>@dto.InvoiceDate</td>
                                    <td></td>
                                </tr>
                            }

                        }
                    }

                </table>

            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_12">
                &nbsp;
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column>
                <abp-card-header style="background:#cccccc;color:#FFFFFF;">
                    @L["Title:Memo"]
                </abp-card-header>
                <abp-card>
                    <abp-card-body>
                        <partial name="Memos/_Memo" model="new _MemoModel(Model.Id, Dolphin.Freight.Common.FreightPageType.AIMBL)" />
                    </abp-card-body>
                </abp-card>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>