@page
@using Dolphin.Freight.AirExports
@using Dolphin.Freight.AirImports
@using Dolphin.Freight.Localization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.AirImports.EditMawbModel
@inject IStringLocalizer<FreightResource> L
@section styles
    {
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" rel="stylesheet">*@
    <style>
        .redStar::before {
            content: "*";
            color: red;
        }
    </style>
}
@section scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/jquery-templates@1.0.0/jquery.tmpl.min.js"></script>
   <abp-script src="/Pages/AirImports/EditMawb.js" />
    <script type="text/javascript">
        $(document).ready(function () {
            var l = abp.localization.getResource('Freight');
            var showMsg = '@Model.ShowMsg';
            if (showMsg === null || showMsg.trim() === "") {

            } else {
                abp.message.success('Successfully saved.');
            }

            const isDirectMasterChecked = document.querySelector('#isDirectMaster');
            if (isDirectMasterChecked.checked == true) {
                $("#shipperId").removeAttr("disabled");
                $("#consigneeId").removeAttr("disabled");
                $("#notifyId").removeAttr("disabled");
                $("#customerId").removeAttr("disabled");
                $("#billToId").removeAttr("disabled");
                $("#salesId").removeAttr("disabled");
            }

            // Awb Cancel Area
            $("#isDirectMaster").change(function () {
                if (this.checked) {
                    $("#shipperId").removeAttr("disabled");
                    $("#consigneeId").removeAttr("disabled");
                    $("#notifyId").removeAttr("disabled");
                    $("#customerId").removeAttr("disabled");
                    $("#billToId").removeAttr("disabled");
                    $("#salesId").removeAttr("disabled");
                } else {
                    $("#shipperId").attr("disabled", "disabled");
                    $("#consigneeId").attr("disabled", "disabled");
                    $("#notifyId").attr("disabled", "disabled");
                    $("#customerId").attr("disabled", "disabled");
                    $("#billToId").attr("disabled", "disabled");
                    $("#salesId").attr("disabled", "disabled");
                }
            });

            // Calculate Weight Kg to Lb
            $("#GrossWeightKg").on('keyup', function () {
                $("#GrossWeightLb").val(Math.round($("#GrossWeightKg").val() * 2.2046226218 * 100) / 100);
            });
            $("#ChargeableWeightKg").on('keyup', function () {
                $("#ChargeableWeightLb").val(Math.round($("#ChargeableWeightKg").val() * 2.2046226218 * 100) / 100);
            });

            // Calculate Weight Lb to Kg
            $("#GrossWeightLb").on('keyup', function () {
                $("#GrossWeightKg").val(Math.round($("#GrossWeightLb").val() * 0.45359237 * 100) / 100);
            });
            $("#ChargeableWeightLb").on('keyup', function () {
                $("#ChargeableWeightKg").val(Math.round($("#ChargeableWeightLb").val() * 0.45359237 * 100) / 100);
            });

            $('#addHBtn').on('click', function () {
                if ($('#mawbDiv')[0].classList.contains('show')) {
                    $('#btnMawbCollapse').click();
                }
                $('#hblCard').removeClass('d-none');
                $(this).addClass('disabled');
            })

            $('#addCommodityBtn').on('click', function () {
                addCommodityTr();
            })

            function addCommodityTr() {
                addCommodityTrTag("", "", "");
            }
            var trindex = 0;
            function addCommodityTrTag(value1, value2, value3) {
                var trhtml = "<tr id='tr_" + trindex + "'><td> <input type='checkbox' name='f0' id='did_" + trindex + "'  value='" + trindex + "'    /></td>"
                trhtml = trhtml + "<td><input type='text' " + trindex + " id='f0_" + trindex + "' class='form-control' value='" + value1 + "' /></td>"
                trhtml = trhtml + "<td><input type='text' " + trindex + " id='f0_" + trindex + "' ' class='form-control' value='" + value2 + "' /></td>"
                trhtml = trhtml + "<td><input type='text' " + trindex + " id='f0_" + trindex + "' ' class='form-control' value='" + value3 + "' /></td>"
                $("#commodityBody").append(trhtml);
                trindex++;
            }

            $("#deleteCommodityBtn").click(function () {
                $("input[name='f0']:checked").each(function () {
                    var tid = $(this).val();
                    $("#did_" + tid).val("1");
                    var val = $(this).attr('id').split('_')[1];
                    $("#tr_" + val).hide();
                })
            })
        });

        $('#addSubHAWBBtn').on('click', function () {
            addSubHAWBTr();
        })

        function addSubHAWBTr() {
            addSubHAWBTrTag("", "", "", "", "");
        }
        var trSubHAWBindex = 0;
        function addSubHAWBTrTag(value1, value2, value3, value4, value5) {
            var trhtml = "<tr id='tr_" + trSubHAWBindex + "'><td> <input type='checkbox' name='f1' id='did_" + trSubHAWBindex + "'  value='" + trSubHAWBindex + "'    /></td>"
            trhtml = trhtml + "<td><input type='text' " + trSubHAWBindex + " id='f1_" + trSubHAWBindex + "' class='form-control' value='" + value1 + "' /></td>"
            trhtml = trhtml + "<td><input type='text' " + trSubHAWBindex + " id='f1_" + trSubHAWBindex + "' ' class='form-control' value='" + value2 + "' /></td>"
            trhtml = trhtml + "<td><input type='text' " + trSubHAWBindex + " id='f1_" + trSubHAWBindex + "' ' class='form-control' value='" + value3 + "' /></td>"
            trhtml = trhtml + "<td><input type='text' " + trSubHAWBindex + " id='f1_" + trSubHAWBindex + "' ' class='form-control' value='" + value4 + "' /></td>"
            trhtml = trhtml + "<td><input type='text' " + trSubHAWBindex + " id='f1_" + trSubHAWBindex + "' ' class='form-control' value='" + value5 + "' /></td>"
            $("#subHAWBBody").append(trhtml);
            trSubHAWBindex++;
        }

        $("#deleteSubHAWBBtn").click(function () {
            $("input[name='f1']:checked").each(function () {
                var tid = $(this).val();
                $("#did_" + tid).val("1");
                var val = $(this).attr('id').split('_')[1];
                $("#tr_" + val).hide();
            })
        })

        $('#editForm').on('abp-ajax-success', function (result, rs) {
            console.log("enter here");
            event.preventDefault();
            abp.message.success('Successfully Saved').then(function () {
                location.href = "/AirImports/Index";
            });
            //location.href = '/AirImports/EditMawb/' + rs.responseText.id + '/show';
        });

        $('#hblMainCard').append('#mawbCard');

        function onHawbCardClick(e) {
            var element = e.currentTarget || e.target || e.srcElement;
            var hawbNo = element.id.split('_')[1];

            if($('#btnHawbCardCollapse_'+hawbNo).attr('aria-expanded') == 'true')
            {    
                $('.hblCardHawbNo').addClass('d-none');
                $('#hblCard_' + hawbNo).removeClass('d-none');
            }
            else{
                $('.btnHawbCardCollapse').click();
            }
        }
    </script>

   
}

<div class="page-header">
    <abp-breadcrumb>
        <abp-breadcrumb-item href="#" title=@L["Menu:Home"] />
        <abp-breadcrumb-item title=@L["Menu:AirImport"] />
        <abp-breadcrumb-item title=@L["Menu:AirImport.CreateMawb"] />
    </abp-breadcrumb>
    <nav class="submenu">
        <ol>
            <li class="menu-item">
                <a class="nav-link active" href="#">@L["Tab:Basic"]</a>
            </li>
            <li class="menu-item">
                <a class="nav-link " href="/AirImports/EditModal3?Id=@Model.Id">@L["Tab:Accounting"]</a>
            </li>
            <li class="menu-item">
                <a class="nav-link " href="/AirImports/DocCenter/@Model.Id">@L["Tab:Doc"]</a>
            </li>
        </ol>
    </nav>
</div>

<div class="page-content-area">
    <div class="board-wrap">

        <form submit-button="true" data-ajaxForm="true" id="editForm">
            <abp-row>
                <abp-column size-md="_9" id="parentCard">
                    <!-- MBL Card-->
                    <abp-card class="card board-item" id="mawbCard">
                        <!-- 標題區域 -->
                        <abp-card-header style="background:#555555;color:#FFFFFF;">
                            <abp-card-title>
                                @L["MAWBInformation"] @Model.MawbModel.MawbNo
                            </abp-card-title>
                            <button type="button" class="btn btn-collapse" data-bs-toggle="collapse" id="btnMawbCollapse" data-bs-target="#mawbDiv" aria-expanded="true" aria-controls="mawbDiv">
                                <i class="fa fa-caret-down" style="color:#FFFFFF;"></i>
                            </button>
                        </abp-card-header>
                        <!-- Mawb資訊欄 -->
                        <abp-card-body class="collapse show" id="mawbDiv">
                            <!--第1列-->
                            <abp-row>
                                <abp-input asp-for="MawbModel.Id" type="hidden" />
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.FilingNo" readonly="true" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label asp-for="MawbModel.MawbNo" class="redStar form-label">@L["Display:Air:MawbNo"]</label>
                                    <input asp-for="MawbModel.MawbNo" class="form-control" size="Small" />
                                    <span asp-validation-for="MawbModel.MawbNo" class="text-danger"></span>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label asp-for="MawbModel.OfficeId" class="redStar form-label">@L["Office"]</label>
                                    <select asp-for="MawbModel.OfficeId" class="form-select-sm form-control">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                        @foreach (var substation in Model.SubstationLookupList)
                                        {
                                            <option value=@substation.Value>@substation.Text</option>
                                        }
                                    </select>
                                    <span asp-validation-for="MawbModel.OfficeId" class="text-danger"></span>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.AwbType" size="Small" />
                                </abp-column>
                            </abp-row>
                            <!--第2列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.PostDate" size="Small" readonly="true" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.OverseaAgentId" size="Small">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.CarrierId" size="Small">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.AwbAcctCarrierId" size="Small">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                            </abp-row>
                            <!--第3列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.CoLoaderId" size="Small">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.OPId" size="Small" disabled="true">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                </abp-column>
                                <abp-column size-md="_3">
                                </abp-column>
                            </abp-row>
                            <!--第4列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.IsDirectMaster" id="isDirectMaster" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.ShipperId" size="Small" disabled="true" id="shipperId">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.ConsigneeId" size="Small" disabled="true" id="consigneeId">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.NotifyId" size="Small" disabled="true" id="notifyId">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                            </abp-row>
                            <!--第5列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.CustomerId" size="Small" disabled="true" id="customerId">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.BillToId" size="Small" disabled="true" id="billToId">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.SalesId" size="Small" disabled="true" id="salesId">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                </abp-column>
                            </abp-row>
                            <br />
                            <!--第6列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.DepatureId" size="Small">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.DepatureDate" size="Small" type="text" id="AIMDepatureDate" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.FlightNo" size="Small" />
                                </abp-column>
                                <abp-column size-md="_3">
                                    <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseRoute" role="button" aria-expanded="false" aria-controls="collapseRoute">
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                        @L["AddConnectingFlight"]
                                    </a>
                                </abp-column>
                            </abp-row>
                            <!--第7列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.DestinationId" size="Small">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <label asp-for="MawbModel.ArrivalDate" class="redStar form-label">@L["Display:Air:ArrivalDate"]</label>
                                    <input asp-for="MawbModel.ArrivalDate" class="form-control" />
                                    <span asp-validation-for="MawbModel.ArrivalDate" class="text-danger"></span>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.FreightLocationId" size="Small">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.StorageStartDate" size="Small" />
                                </abp-column>
                            </abp-row>
                            <br />
                            <!--Route區塊-->
                            <abp-row>
                                <div class="collapse" id="collapseRoute">
                                    <div class="card card-body">
                                        <h3>Route</h3>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Airport</th>
                                                    <th>Arrival Date/Time</th>
                                                    <th>Depature Date/Time</th>
                                                    <th>Flight No.</th>
                                                    <th>Carrier</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>Trans1</th>
                                                    <td>
                                                        <select asp-for="MawbModel.RouteTrans1Id" class="form-select-sm">
                                                            <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                                            @foreach (var airport in Model.AirportLookupList)
                                                            {
                                                                <option value=@airport.Value>@airport.Text</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans1ArrivalDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans1DepatureDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans1FlightNo" size="Small" />
                                                    </td>
                                                    <td>
                                                        <select asp-for="MawbModel.RouteTrans1CarrierId" class="form-select-sm">
                                                            <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                                            @foreach (var tradePartner in Model.TradePartnerLookupList)
                                                            {
                                                                <option value=@tradePartner.Value>@tradePartner.Text</option>
                                                            }
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Trans2</th>
                                                    <td>
                                                        <select asp-for="MawbModel.RouteTrans2Id" class="form-select-sm">
                                                            <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                                            @foreach (var airport in Model.AirportLookupList)
                                                            {
                                                                <option value=@airport.Value>@airport.Text</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans2ArrivalDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans2DepatureDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans2FlightNo" size="Small" />
                                                    </td>
                                                    <td>
                                                        <select asp-for="MawbModel.RouteTrans2CarrierId" class="form-select-sm">
                                                            <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                                            @foreach (var tradePartner in Model.TradePartnerLookupList)
                                                            {
                                                                <option value=@tradePartner.Value>@tradePartner.Text</option>
                                                            }
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Trans3</th>
                                                    <td>
                                                        <select asp-for="MawbModel.RouteTrans3Id" class="form-select-sm">
                                                            <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                                            @foreach (var airport in Model.AirportLookupList)
                                                            {
                                                                <option value=@airport.Value>@airport.Text</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans3ArrivalDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans3DepatureDate" size="Small" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="MawbModel.RouteTrans3FlightNo" size="Small" />
                                                    </td>
                                                    <td>
                                                        <select asp-for="MawbModel.RouteTrans3CarrierId" class="form-select-sm">
                                                            <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                                            @foreach (var tradePartner in Model.TradePartnerLookupList)
                                                            {
                                                                <option value=@tradePartner.Value>@tradePartner.Text</option>
                                                            }
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </abp-row>
                            <br />
                            <!--第八列 Package, Weight Settings Area-->
                            <abp-row>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>@L["Package"]</th>
                                                        <td><input asp-for="MawbModel.Package" class="form-control" /></td>
                                                        <td colspan="3">
                                                            <select asp-for="MawbModel.MawbPackageUnitId" class="form-select">
                                                                <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                                                @foreach (var packageUnit in Model.PackageUnitLookupList)
                                                                {
                                                                    <option value=@packageUnit.Value>@packageUnit.Text</option>
                                                                }
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>@L["VolumeWeight"]</th>
                                                        <td><input asp-for="MawbModel.VolumeWeightKg" class="form-control" /></td>
                                                        <td>@L["KG"]</td>
                                                        <td>
                                                            <input asp-for="MawbModel.VolumeWeightCbm" class="form-control" />
                                                        </td>
                                                        <td>CBM</td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td colspan="4"><abp-button size="Small" button-type="Primary" text="@L["SetDimensions"]" disabled="true" icon="pencil-square" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>@L["KG"]</th>
                                                        <th>@L["LB"]</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>@L["GrossWeight"]</th>
                                                        <td><input asp-for="MawbModel.GrossWeightKg" class="form-control" id="GrossWeightKg" /></td>
                                                        <td><input asp-for="MawbModel.GrossWeightLb" class="form-control" id="GrossWeightLb" /></td>
                                                    </tr>
                                                    <tr>
                                                        <th>@L["ChargeableWeight"]</th>
                                                        <td><input asp-for="MawbModel.ChargeableWeightKg" class="form-control" id="ChargeableWeightKg" /></td>
                                                        <td><input asp-for="MawbModel.ChargeableWeightLb" class="form-control" id="ChargeableWeightLb" /></td>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <td colspan="3"><abp-button size="Small" button-type="Primary" text="@L["SumPackage&Weight"]" disabled="true" icon="pencil-square" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </abp-row>
                            <!--第9列-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.FreightType" asp-items="Html.GetEnumSelectList(typeof(FreightType))" class="form-select-sm form-control">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.IncotermsType" asp-items="Html.GetEnumSelectList(typeof(IncotermsType))" class="form-select-sm form-control">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.ServiceTermTypeFrom" asp-items="Html.GetEnumSelectList(typeof(ServiceTermType))" class="form-select-sm form-control">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.ServiceTermTypeTo" asp-items="Html.GetEnumSelectList(typeof(ServiceTermType))" class="form-select-sm form-control">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                            </abp-row>
                            <!--第10列 Awb取消Checkbox, IsEcom-->
                            <abp-row>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.BusinessReferredId" size="Small">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-select asp-for="MawbModel.DisplayUnit" asp-items="Html.GetEnumSelectList(typeof(DisplayUnitType))" class="form-select-sm form-control">
                                        <option value='' selected> @L["Display:Dropdownlist:Option:Select"] </option>
                                    </abp-select>
                                </abp-column>
                                <abp-column size-md="_3">
                                    <abp-input asp-for="MawbModel.IsECom" />
                                </abp-column>
                                <abp-column size-md="_3">
                                </abp-column>
                            </abp-row>
                        </abp-card-body>
                    </abp-card>
                </abp-column>
                <abp-column size-md="_3">
                    <div class="card-wrap">
                        <button class="btn btn-block btn-add" type="button" id="addHBtn">
                            <i class="fa-solid fa-plus"></i>Add HAWB
                        </button>
                        <div id="hblCards" class="hbl_sm_area">
                            
                        </div>
                    </div>
                </abp-column>
            </abp-row>

            <!-- 下方Save按鈕 -->
            <abp-row class="mt-3">
                <abp-column>
                    <abp-button class="btn btn-primary me-md-2" type="submit" id="saveBtn">@L["Display:Button:Submit"]</abp-button>
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column>
                    &nbsp;
                </abp-column>
            </abp-row>

        </form>
    </div>
</div>

